<div class="thumbnail">
    <img ng-src="{{ campaign.cover_image_url }}" />
</div>
<div class="meta-container">
    <table>
        <tbody>
            <tr>
                <td class="cost-column">
                    <p>Required</p>
                    <p class="point-cost">{{ campaign.point_cost | number }}</p>
                    <p>Points</p>
                </td>
                <td class="time-column">
                    <p>Update</p>
                    <p>Every</p>
                    <p>Day</p>
                </td>
                <td class="fortune-column">
                    <p>Need</p>
                    <p>Birthday</p>
                    <p>Information</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
