<div class="thumbnail">
    <img ng-src="{{ campaign.cover_image_url }}" ng-click="showDreamPhotoMoreDialog()" />
</div>
<div class="meta-container">
    <table>
        <tbody>
            <tr>
                <td class="cost-column">
                    <p>Required</p>
                    <p class="point-cost">{{ campaign.point_cost | number }}</p>
                    <p>Points</p>
                </td>
                <td class="time-column">
                    <p>Photo sent in</p>
                    <p class="time">{{ campaign.processing_time_label | number }}</p>
                    <p>Minutes</p>
                </td>
                <td class="photo-column">
                    <p>Need</p>
                    <p class="photo-num">{{ 2 | number }}</p>
                    <p>Photos</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
