<div class="thumbnail">
    <img ng-src="{{ campaign.cover_image_url }}" />
</div>
<div class="meta-container">
    <table>
        <tbody>
            <tr>
                <td class="cost-column">
                    <p>Required</p>
                    <p class="point-cost">120++</p>
                    <p>Points<br/><span class="subtext">(depend on sticker price)</span></p>
                </td>
                <td class="time-column">
                    <p>Sticker sent in</p>
                    <p class="time">24</p>
                    <p>Hours</p>
                </td>
                <td class="sticker-column">
                    <p>Need</p>
                    <p>
                        Line ID<br/>
                        Sticker Detail
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
