<div class="thumbnail">
    <img ng-src="{{ campaign.cover_image_url }}" />
</div>
<div class="meta-container">
    <table>
        <tbody>
            <tr>
                <td class="cost-column">
                    <p>Required</p>
                    <p class="point-cost">{{ campaign.point_cost | number }}</p>
                    <p>Points</p>
                </td>
                <td class="time-column">
                    <p>Next Draw in:</p>
                    <p class="time">{{ campaign.next_time }}</p>
                    <p class="date">{{ campaign.next_day }} Days</p>
                </td>
                <td class="ticket-column">
                    <p>You Have</p>
                    <p class="ticket-num">{{ campaign.ticket_num | number }}</p>
                    <p>Tickets</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
