<div id="campaigns-controller">
    <ng-include src="'assets/web/includes/authenticated_header.html'"></ng-include>

    <div id="contents">

        <ng-include src="'assets/web/includes/promotion_offer.html'"></ng-include>

        <div class="campaign-slider flexslider" flexslider>
            <div class="custom-navigation">
                <div class="custom-controls-container"></div>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev">
                        <a class="flex-prev" href="#"><img src="/assets/web/back_icon.png" width="40" height="40"/></a>
                    </li>
                    <li class="flex-nav-next">
                        <a class="flex-next" href="#"><img src="/assets/web/next_icon.png" width="40" height="40"/></a>
                    </li>
                </ul>
            </div>
            <ul class="slides">
                <li class="campaign" ng-repeat="campaign in campaigns">
                    <ng-include src="'assets/web/campaigns/campaign_type_prize.html'" ng-if="campaign.type == 'prize'"></ng-include>
                    <ng-include src="'assets/web/campaigns/campaign_type_dream_photo.html'" ng-if="campaign.type == 'dream_photo'"></ng-include>
                    <ng-include src="'assets/web/campaigns/campaign_type_fortune_telling.html'" ng-if="campaign.type == 'fortune_telling'"></ng-include>
                    <ng-include src="'assets/web/campaigns/campaign_type_line_sticker.html'" ng-if="campaign.type == 'line_sticker'"></ng-include>

                    <div class="buttons">
                        <button class="large-button" ng-click="submitApply(campaign)">APPLY</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="action-buttons">
            <div class="action-button winner clearfix" ng-click="showWinnerDialog()">
                <div class="wrapper clearfix">
                    <p class="label">Past Winner</p>
                </div>
            </div>
        </div>

        <div class="separator-wrapper">
            <p>More Points More Chance!!</p>
        </div>

        <div class="action-buttons">
            <div class="action-button appinstall clearfix" ng-click="moveOffers()">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_cpi.png" alt="APP INSTALL" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">APP INSTALL</p>
                                <p class="point-num">10+</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button facebook clearfix" ng-click="shareFacebook()" ng-show="!config.shared_facebook">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_facebook_on.png" alt="Share Facebook" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Share Facebook</p>
                                <p class="point-num">5</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button facebook clearfix" ng-click="likeFacebook()" ng-show="!config.liked_facebook">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_facebook_like_on.png" alt="Like Facebook" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Like Facebook</p>
                                <p class="point-num">5</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button twitter clearfix" ng-click="shareTwitter()" ng-show="!config.shared_twitter">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_twitter_on.png" alt="Share Twitter" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Share Twitter</p>
                                <p class="point-num">5</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button twitter clearfix" ng-click="followTwitter()" ng-show="!config.followed_twitter">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_twitter_follow_on.png" alt="Follow Twitter" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Follow Twitter</p>
                                <p class="point-num">5</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button referral-bonus clearfix" ng-click="showReferralBonusDialog()">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_referral_on.png" alt="Referral Bonus" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Referral Bonus</p>
                                <p class="point-num">2</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button action-bonus clearfix" ng-click="showActionBonusDialog()">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_action_on.png" alt="Action Bonus" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Action Bonus</p>
                                <p class="point-num">3</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button login-bonus clearfix" ng-click="showLoginBonusDialog()">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_login_on.png" alt="Login Bonus" class="icon" />
                            </td>
                            <td><p>&nbsp;</p></td>
                            <td class="meta-column">
                                <p class="subtext">Login Bonus</p>
                                <p class="point-num">1</p>
                                <p class="subtext">POINT</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button facebook complete clearfix" ng-show="config.shared_facebook">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_facebook_off.png" alt="Share Facebook" class="icon" />
                            </td>
                            <td class="complete-column">
                                <p>Completed</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button facebook complete clearfix" ng-show="config.liked_facebook">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_facebook_like_off.png" alt="Like Facebook" class="icon" />
                            </td>
                            <td class="complete-column">
                                <p>Completed</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button twitter complete clearfix" ng-show="config.shared_twitter">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_twitter_off.png" alt="Share Twitter" class="icon" />
                            </td>
                            <td class="complete-column">
                                <p>Completed</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
            <div class="action-button twitter complete clearfix" ng-show="config.followed_twitter">
                <table>
                	<tbody>
                		<tr>
                            <td class="icon-column">
                                <img src="/assets/web/action_banner_twitter_follow_off.png" alt="Follow Twitter" class="icon" />
                            </td>
                            <td class="complete-column">
                                <p>Completed</p>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>

        </div>
    </div>

    <ng-include src="'assets/web/includes/authenticated_footer.html'"></ng-include>
</div>

<div id="invitation-dialog" class="dialog" ng-show="invitationDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="contents">
                    <div class="title">WELCOME</div>
                    <div class="prize-item">
                        <img src="/assets/web/login_iphone_main_pic.png" />
                    </div>
                    <div class="inner-form">
                        <div class="field">
                            <input type="text" class="form" ng-model="invitation.referral_code" placeholder="Referral Code(Optional)" />
                        </div>
                        <div class="buttons">
                            <button class="large-button" ng-click="doInvited()">OK</button>
                        </div>
                    </div>
                    <div class="description">
                        <p>If you have friend introduce<br/>Please put your Referral code</p>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="doSkip()">SKIP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="special-promotion-dialog" class="dialog" ng-show="specialPromotionDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="contents">
                    <div class="title">Speial Promotion!!</div>
                    <div class="description">More Points, Limited Time</div>
                    <div class="countdown">{{ promotionTimeCount }}</div>

                    <ng-include src="'assets/web/includes/promotion_offer.html'"></ng-include>

                    <div class="buttons">
                        <button class="large-button" ng-click="moveOffers()">Get Points</button>
                    </div>
                    <div class="tutorial">
                        <img src="assets/web/login_how_to_image_special_promotion.png" /> 
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="doSkip()">SKIP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="facebook-dialog" class="dialog" ng-show="facebookDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ facebookDialog.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p class="attention">Get 5 Points!</p>
                        <p class="subtext">{{ facebookDialog.note }}</p>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelFacebook()">CANCEL</p>
                        <p class="button" ng-click="submitFacebook()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="share-dialog" class="dialog" ng-show="shareDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ shareDialog.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p class="attention">Get 5 Points!</p>
                        <p class="subtext">{{ shareDialog.note }}</p>
                        <p>
                        <textarea rows="4" ng-model="share.message" class="form small-form"></textarea>
                        </p>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelShare()">CANCEL</p>
                        <p class="button" ng-click="submitShare()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="description-dialog" class="dialog" ng-show="dialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ dialog.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body" ng-bind-html="dialog.content_tag"></div>

                    <ul class="social-buttons" ng-show="dialog.show_social_button">
                        <li class="item">
                            <a href="http://line.me/R/msg/text/?{{ 'Giveaway is on the way! Free weekly iPhone 6 for FREE! https://viral-giveaway.com/?source=line&rc=' + config.user.id | encodeURI }}" target="_blank"><img src="/assets/web/social_media_icon_line.png" /></a>
                        </li>
                        <li class="item">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ 'https://viral-giveaway.com/?source=facebook&rc=' + config.user.id | encodeURI }}" target="_blank"><img src="/assets/web/social_media_icon_fb.png" /></a>
                        </li>
                        <li class="item">
                        <a href="https://twitter.com/share?text={{ 'Giveaway is on the way! Free weekly iPhone 6 for FREE! #ViralGiveaway' | encodeURI }}&amp;url={{ 'https://viral-giveaway.com/?source=twitter&rc=' + config.user.id | encodeURI }}" target="_blank"><img src="/assets/web/social_media_icon_twitter.png"></a>
                        </li>
                        <li class="item">
                        <a href="whatsapp://send?text={{ 'Giveaway is on the way! Free weekly iPhone 6 for FREE! https://viral-giveaway.com/?source=whatsapp&rc=' + config.user.id | encodeURI }}" data-action="share/whatsapp/share"><img src="/assets/web/social_media_icon_whatsapp.png" /></a>
                        </li>
                    </ul>

                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="hideDialog()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ticket-apply-dialog" class="dialog" ng-show="ticketApplyDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ ticketApplyDialog.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body" ng-bind-html="ticketApplyDialog.content_tag"></div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelTicketApply()">CANCEL</p>
                        <p class="button" ng-click="submitTicketApply(campaign)">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="sponsor-dialog" class="dialog fixed-dialog" ng-show="sponsorDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ sponsorDialog.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <div class="header-image sponsor-image">
                            <img src="/assets/web/main_sponsor_pic.png" />
                        </div>
                        <div class="videos">
                            <div class="video">
                                <a href="https://www.youtube.com/watch/?v=0bT3N9hjS0o" target="_blank"><img src="/assets/web/sponsor_video_banner_1.png" /></a>
                            </div>
                            <div class="video">
                                <a href="https://www.youtube.com/watch/?v=GTbWL9ZytiU" target="_blank"><img src="/assets/web/sponsor_video_banner_2.png" /></a>
                            </div>
                            <div class="video">
                                <a href="https://www.youtube.com/watch/?v=Snjp2yTmZ1g" target="_blank"><img src="/assets/web/sponsor_video_banner_3.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="hideSponsorDialog()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="follow-dialog" class="dialog" ng-show="followDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Follow Account</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p class="attention">Get 5 Points!</p>
                        <p class="subtext">Are you follow VIRAL GIVEAWAY twitter account?</p>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelFollow()">CANCEL</p>
                        <p class="button" ng-click="submitFollow()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="recommended-offer-dialog" class="dialog" ng-show="recommendedOfferDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Special Promotion</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <div class="attention">RECOMMENDED APP!!</div>
                        <ng-include src="'assets/web/includes/promotion_offer.html'"></ng-include>
                        <div class="note">Earn more point and collect more ticket</div>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="hideRecommendedOfferDialog()">LATER</p>
                        <p class="button" ng-click="movePromotionOffer()">INSTALL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dream_photo-more-dialog" class="dialog fixed-dialog" ng-show="dreamPhotoMoreDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">How to just upload 2 photos</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <div class="in-dialog-slider">
                            <div class="slides">
                                <div class="slide" ng-show="showPhotoSlidePage(0)">
                                    <p><img src="assets/web/see_more_kid_1.png" class="small-image" /></p>
                                    <p><img src="assets/web/see_more_kid_2.png" class="small-image" /></p>
                                    <p class="description">
                                        We will send your Dream Photo in 20 min by email<br/>
                                        <img src="assets/web/see_more_kid_3.png" />
                                    </p>
                                </div>
                                <div class="slide" ng-show="showPhotoSlidePage(1)">
                                    <p><img src="assets/web/see_more_girl_1.png" class="small-image" /></p>
                                    <p><img src="assets/web/see_more_girl_2.png" class="small-image" /></p>
                                    <p class="description">
                                        We will send your Dream Photo in 20 min by email<br/>
                                        <img src="assets/web/see_more_girl_3.png" />
                                    </p>
                                </div>
                                <div class="slide" ng-show="showPhotoSlidePage(2)">
                                    <p><img src="assets/web/see_more_man_1.png" class="small-image" /></p>
                                    <p><img src="assets/web/see_more_man_2.png" class="small-image" /></p>
                                    <p class="description">
                                        We will send your Dream Photo in 20 min by email<br/>
                                        <img src="assets/web/see_more_man_3.png" />
                                    </p>
                                </div>
                                <div class="slide" ng-show="showPhotoSlidePage(3)">
                                    <p><img src="assets/web/see_more_woman_1.png" class="small-image" /></p>
                                    <p><img src="assets/web/see_more_woman_2.png" class="small-image" /></p>
                                    <p class="description">
                                        We will send your Dream Photo in 20 min by email<br/>
                                        <img src="assets/web/see_more_woman_3.png" />
                                    </p>
                                </div>
                                <div class="slide" ng-show="showPhotoSlidePage(4)">
                                    <p><img src="assets/web/see_more_female_1.png" class="small-image" /></p>
                                    <p><img src="assets/web/see_more_female_2.png" class="small-image" /></p>
                                    <p class="description">
                                        We will send your Dream Photo in 20 min by email<br/>
                                        <img src="assets/web/see_more_female_3.png" />
                                    </p>
                                </div>


                                <table class="navi-container">
                                	<tbody>
                                		<tr>
                                            <td class="navi navi-left">
                                                <img src="assets/web/back_icon.png" ng-show="showLeftPhotoNavi()" ng-click="showPrevPhoto()" />
                                            </td>
                                            <td>
                                                <indicator my-total="dreamPhotoSlideNum+1" my-current="dreamPhotoSlideCurrentIdx"></indicator>
                                            </td>
                                            <td class="navi navi-right">
                                                <img src="assets/web/next_icon.png" ng-show="showRightPhotoNavi()" ng-click="showNextPhoto()" />
                                            </td>
                                		</tr>
                                	</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="hideDreamPhotoMoreDialog()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dream_photo_apply-dialog" class="dialog" ng-show="dreamPhotoApplyDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Dream Photo</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <section class="step">
                            <div class="header">1. Select your Photo view</div>
                            <div class="contents">
                                <table class="photo-type-container">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img ng-src="assets/web/face_on.png" class="face" ng-show="dreamPhotoModel.photo_type == 1" ng-click="toggleDreamPhotoType(1)" />
                                                <img ng-src="assets/web/face_off.png" class="face" ng-show="dreamPhotoModel.photo_type != 1" ng-click="toggleDreamPhotoType(1)" />
                                            </td>
                                            <td>
                                                <img ng-src="assets/web/full_body_on.png" class="full_body" ng-show="dreamPhotoModel.photo_type == 2" ng-click="toggleDreamPhotoType(2)" />
                                                <img ng-src="assets/web/full_body_off.png" class="full_body" ng-show="dreamPhotoModel.photo_type != 2" ng-click="toggleDreamPhotoType(2)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="step">
                            <div class="header">2. Select your Photo</div>
                            <div class="contents">
                                <table class="file-selector-container">
                                	<tbody>
                                		<tr>
                                            <td class="preview">
                                                <img src="assets/web/default_select_image.png" class="default" ng-show="dreamPhotoModel.photo1 == null" />
                                                <canvas id="photo1-preview" ng-show="dreamPhotoModel.photo1 != null"></canvas>
                                            </td>
                                            <td class="selector">
                                                <div class="file-button-container">
                                                    <span>Select</span>
                                                    <input type="file" accept="image/*" onchange="angular.element(this).scope().showPhotoPreview('photo1')">
                                                </div>
                                            </td>
                                		</tr>
                                	</tbody>
                                </table>
                            </div>
                        </section>
                        <section class="step">
                            <div class="header">3. Select your want to be Photo</div>
                            <div class="contents">
                                <table class="file-selector-container">
                                	<tbody>
                                		<tr>
                                            <td class="preview">
                                                <img src="assets/web/default_select_image.png" class="default" ng-show="dreamPhotoModel.photo2 == null" />
                                                <canvas id="photo2-preview" ng-show="dreamPhotoModel.photo2 != null"></canvas>
                                            </td>
                                            <td class="selector">
                                                <div class="file-button-container">
                                                    <span>Select</span>
                                                    <input type="file" accept="image/*" onchange="angular.element(this).scope().showPhotoPreview('photo2')">
                                                </div>
                                            </td>
                                		</tr>
                                	</tbody>
                                </table>
                            </div>
                        </section>
                        <section class="step">
                            <div class="header">4. Tell us what your Dream Photo Idea</div>
                            <div class="contents">
                                <textarea ng-model="dreamPhotoModel.comment" placeholder="Please tell me any idea." rows="3"></textarea>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="hideDreamPhotoApplyDialog()">CANCEL</p>
                        <p class="button" ng-click="submitDreamPhotoApply()">UPLOAD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fortune_telling_apply-dialog" class="dialog" ng-show="fortuneTellingApplyDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Choose your DOB</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <select ng-model="fortuneTellingApplyDialog.birthdate_month">
                            <option value="{{ $index+1 }}" ng-repeat="n in [].constructor(12) track by $index">{{ $index+1 }}</option>
                        </select>&nbsp;
                        <select ng-model="fortuneTellingApplyDialog.birthdate_day">
                            <option value="{{ $index+1 }}" ng-repeat="n in [].constructor(31) track by $index">{{ $index+1 }}</option>
                        </select>&nbsp;
                        <select ng-model="fortuneTellingApplyDialog.birthdate_year">
                            <option value="{{ birthdate_year_start - $index }}" ng-repeat="n in [].constructor(birthdate_year_range) track by $index">{{ birthdate_year_start - $index }}</option>
                        </select>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="hideFortuneTellingApplyDialog()">CANCEL</p>
                        <p class="button" ng-click="submitFortuneTellingApply()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="line_sticker_apply-dialog" class="dialog" ng-show="lineStickerApplyDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">LINE Sticker</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <section>
                            <div class="header">1. Fill in your Line ID</div>
                            <div class="contents">
                                <input type="text" class="form" ng-model="lineStickerApplyDialog.lineId" placeholder="LINE ID" />
                            </div>
                        </section>
                        <section>
                            <div class="header">2. Name of sticker set</div>
                            <div class="contents">
                                <input type="text" class="form" ng-model="lineStickerApplyDialog.stickerName" placeholder="STICKER NAME" />
                            </div>
                        </section>
                        <section>
                            <div class="header">3. Select your Line Sticker coin</div>
                            <div class="contents">
                                <p>
                                    <input type="radio" id="line_sticker_coin_50" value="50" ng-model="lineStickerApplyDialog.coin" /> <label for="line_sticker_coin_50"><span class="small-text">50 Coins</span> <span class="xsmall-text">(120 points)</span></label>&nbsp;&nbsp;
                                    <input type="radio" id="line_sticker_coin_100" value="100" ng-model="lineStickerApplyDialog.coin" /> <label for="line_sticker_coin_100"><span class="small-text">100 Coins</span> <span class="xsmall-text">(240 points)</span></label>
                                </p>
                                <br/>
                                <p class="small-text bold">* Please fill in the correct spelling of<br/>&nbsp;&nbsp;your Line ID and Name of Sticker</p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="hideLineStickerApplyDialog()">CANCEL</p>
                        <p class="button" ng-click="submitLineStickerApply()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

