<h1> News Pick Push Notification </h1>
<div id="news_pick_new_push_notification-controller">
    <table class="edit">
    	<tbody> 
        <!--  
            <tr>
                <th>Sandbox Mode</th>
                <td>
                    <input type="checkbox" ng-model="newspickpush.sandbox" />                   
                </td>
            </tr> 	
        -->
            <tr>
                <th>OS</th>
                <td>
                    <input type="checkbox" ng-model="newspickpush.ios" /> IOS
                    <input type="checkbox" ng-model="newspickpush.android" /> Android                 
                </td>
            </tr>
            <tr>
                <th>App</th>
                <td>
                    <select ng-model="newspickpush.app">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_app" ng-selected="v == newspickpush.app">{{ k | uppercase }}</option>
                    </select>                    
                </td>
            </tr>	
            <!--<tr>
                <th>Title</th>
                <td>
                    <input type="text" ng-model="newspickpush.title" />
                </td>
            </tr>-->
            <tr>
    			<th>Message</th>
                <td>
                    <input type="text" ng-model="newspickpush.message" />
                </td>
    		</tr> 
            <!--
            <tr>
                <th>News URL</th>
                <td>
                    <input type="text" ng-model="newspickpush.news_link" />
                </td>
            </tr>
            <tr>
                <th>Image URL</th>
                <td>
                    <input type="text" ng-model="newspickpush.image_link" />
                </td>
            </tr>   
            <tr>
                <th>Category</th>
                <td>
                    <select ng-model="newspickpush.category_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_category" ng-selected="v == newspickpush.category_id">{{ k | uppercase }}</option>
                    </select>                    
                </td>
            </tr>  
            -->     
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()" click-and-disable="functionThatReturnsPromise()">Push</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>