<header class="authenticated">
    <p class="title">{{ title }}</p>
    <div class="sub-header">
        <table>
        	<tbody>
        		<tr>
                    <td class="point-column">
                        <p><span class="point-icon"/><span class="point-num">{{ point | number }}</span> Points</p>
                    </td>
        		</tr>
        	</tbody>
        </table> 
    </div>
</header>
