<footer class="authenticated">
    <ul class="menus clearfix">
        <li class="first-menu" ng-class="{'active': isActiveMenu('home')}">
    		<a href="#/home" class="icon home"></a>
    	</li>
    	<li class="menu" ng-class="{'active': isActiveMenu('offers')}">
    		<a href="#/offers" class="icon offer"></a>
    	</li>
    	<li class="menu" ng-class="{'active': isActiveMenu('tickets')}">
    		<a href="#/tickets" class="icon ticket"></a>
    	</li>
    	<li class="menu" ng-class="{'active': isActiveMenu('information')}">
    		<a href="#/information" class="icon information"></a>
    	</li>
    	<li class="last-menu" ng-class="{'active': isActiveMenu('settings')}">
    		<a href="#/settings" class="icon setting"></a>
    	</li>
    </ul>
</footer>
