
<div id="delete-account-step1-dialog" class="dialog fixed-dialog delete-account-dialog" ng-show="deleteAccountStep == 'step1'">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Do you have to go?</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <div class="icon delete-icon"></div>

                        <p class="attention">If you are not happy with our service,</p>
                        <p class="attention">please let us improve.</p>

                        <p class="note">Reason for leaving</p>
                        <div class="questions">
                            <p class="question" ng-repeat="(k,v) in config.question_map">
                                <input type="radio" ng-model="deleteAccount.question_answer" ng-value="{{ k }}" id="question_answer_{{ k }}" /> <label for="question_answer_{{ k }}">{{ v }}</label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelDeleteAccount()">CANCEL</p>
                        <p class="button" ng-click="submitDeleteAccount()">NEXT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-account-step2-dialog" class="dialog delete-account-dialog" ng-show="deleteAccountStep == 'step2'">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Do you have to go?</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p class="attention">By deleting your account, all your rights</p>
                        <p class="attention">to win the prizes will be gone.</p>
                        <p class="attention">Are you sure you want to delete your account?</p>

                        <div class="offer-container">
                            <div class="offer-icon"></div> 
                            <ng-include src="'assets/web/includes/promotion_offer.html'"></ng-include>
                        </div>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelDeleteAccount()">CANCEL</p>
                        <p class="button" ng-click="submitDeleteAccount()">NEXT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-account-step3-dialog" class="dialog delete-account-dialog" ng-show="deleteAccountStep == 'step3'">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Do you have to go?</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p>Enter your password</p>
                        <p>
                        	<input type="password" class="form small-form" ng-model="deleteAccount.password" />
                        </p>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="cancelDeleteAccount()">CANCEL</p>
                        <p class="button delete" ng-click="submitDeleteAccount()">DELETE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

