<header>
    <!--<div class="menu-trigger-container">
        <a href="javascript:void(0)" class="menu-trigger" ng-class="{active: headerMenuOpen}" ng-click="headerMenuOpen = !headerMenuOpen">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <p class="title">{{ title }}</p>
    <ul class="menu" ng-show="headerMenuOpen">
    	<li>
    		<a href="/#/">Home</a>
    	</li>
    	<li>
    		<a href="/#/login">Login</a>
    	</li>
    	<li>
    		<a href="/#/signup">Signup</a>
    	</li>
    </ul>-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#news-main-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">News Pick</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="news-main-navigation">
                <ul class="nav navbar-nav">
                    <% if Rails.application.config.newspick_category? then %>
                        <li ng-repeat=" menu in <%= Rails.application.config.newspick_category %>" ng-bind-html-unsafe="opt.text" >
                            <a href="#">{{ opt.text }}</a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>
