
<div id="message-dialog" class="dialog message-dialog" ng-show="messageDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ messageDialog.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p>You Got</p>
                        <p class="point-num">{{ messageDialog.point }}</p>
                        <p>POINTS!</p>
                        <p class="description" ng-bind-html="messageDialog.description"></p>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="showNextMessage()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

