<div class="recommend-campaign" ng-show="promotionOffer != null" ng-click="movePromotionOffer()">
     <table>
     	<tbody>
             <tr>
                 <td class="space-column"></td>
                 <td class="thumbnail-column">
                     <img ng-src="{{ promotionOffer.app_icon_url | ssl_image }}" />
                 </td>
                 <td class="space-column"></td>
                 <td class="meta-column">
                     <p class="name">{{ promotionOffer.name }}</p>
                     <p class="description">Download and Start</p>
                 </td>
                 <td class="space-column"></td>
                 <td class="original-point-column">
                     <p class="point">{{ promotionOffer.normal_point }}</p>
                 </td>
                 <td class="arrow-icon-column"></td>
                 <td class="special-point-column">
                     <p class="point">{{ promotionOffer.point }}</p>
                 </td>
                 <td class="space-column"></td>
     		</tr>
     	</tbody>
     </table> 
</div>
