<div id="terms-dialog" class="dialog fixed-dialog" ng-show="termsDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">TERMS & CONDITIONS</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
    <p>Terms and Conditions<br />
    VERSION 1.00<br />
    LAST REVISED ON: APRIL 27, 2015</p>

    <p>The website (application) hosted at www.viral-giveaway.com (the "Site" or the “Application”) and the Services are copyrighted works belonging to Mylon Pte. Ltd. ("Viral Giveaway", "us", "our", and "we"). Viral Giveaway provides a mobile application (the "Application", and collectively all services provided through the Application, the "Services") that (i) allows businesses to deliver ads and campaign information (collectively, "Advertisements") to a user's smart phone through Viral Giveaway Application, allows users to engage the Services by completing prescribed actions, and compensates users with reward tickets ("Tickets") that enters the draw to win prizes. Certain features of the Services, may be subject to additional guidelines, terms, or rules, which will be posted on the Service in connection with such features. All such additional terms, guidelines, and rules are incorporated by reference into this Agreement.</p>
    
    <P>These Terms Of Use ("Agreement") sets forth the legally binding terms for your use of the services. By accessing or using the application or services, you are accepting this agreement (on behalf of yourself or the entity that you represent) and you represent and warrant that you have the right, authority, and capacity to enter into this agreement (on behalf of yourself or the entity that you represent). You may not access or use the application, or services or accept the agreement if you are not at least 18 years old. If you do not agree with all of the provisions of this agreement, do not access and/or use the services.</P>
    
    <h2>1.ACCOUNTS</h2>
    <p>1.1 Account Creation. In order to use certain features of the Application (e.g. to use the Services), you must register for an account with Viral Giveaway ("Viral Giveaway Account") and provide certain information about yourself as prompted by the app registration form (Entry Card). You represent and warrant that: (a) all required registration information you submit is truthful and accurate and (b) you will provide us updates and maintain the accuracy of such information.</p>
    
    <p>1.2 Account Responsibilities. You are responsible for maintaining the confidentiality of your Viral Giveaway Account login information and are fully responsible for all activities that occur under your Viral Giveaway Account. You agree to immediately take action within reasonable capacity against of any unauthorized use, or suspected unauthorized use of your Viral Giveaway Account or any other breach of security. Viral Giveaway cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.</p>
    
    <p>1.3 Account Limitations. We do not allow users to create multiple accounts using a single device. An individual who creates multiple accounts to earn more tickets or otherwise profit using Viral Giveaway's promotional Referral Program is considered to have breached Viral Giveaway's Terms of Use, and Viral Giveaway has the right to terminate his or her account with or without notice. Viral Giveaway is only available for use in Philippine, Hong Kong, Vietnam, Thialnd, Malaysia, Indonesia, and India. Singapore citizen and/or person who currently resides in Singapore is not permitted to user our services.</p>
    
    <h2>2.TICKETS</h2>
    <p>2.1 For completing certain prescribed actions within the Services, you may earn tickets. Each time you complete the activity, we place the tickets in your Account.</p>
    
    
    <p>2.2 Prize draw. Each tickets you earned (displayed on ticket page) is allocated a unique sets of numbers. Application will randomly select the prize winner and user who has the winning ticket number will be entitled to receive prizes.</p>
    
    <p>2.3 Closing Your Account. If you choose to close your account, earned tickets up to date will no longer be valid.</p>
    
    <p>2.4 Taxes. Viral Giveaway complies with all tax reporting requirements. You will be solely responsible for any and all tax liability arising out of your winning prize.</p>
    
    <p>2.5 Bonus Promotion Reward Points. All Bonus Promotion Reward Points, including and not limited to the Friends Referral Program, are subject to change without prior notice.</p>

    <h2>3.Prize Draw</h2>

    <p>3.1 General. All information detailing how to enter this competition forms part of these terms and conditions.</p>
    
    <p>3.2 Date of prize draw. All entries must be received by the advertised closing time date. Should the date within the post not be the same as the date in the application due to editorial error; the date on the application takes precedence</p>
    <p>3.3 Time Zone. Standard time used within the application is Singapore time zone (UTC+08:00)3.4 Ownership. All prizes are non-transferable and there are no cash alternatives. The prize is subject to availability.3.5 Random Selection. Winners will be chosen by lucky draw, where paper of 0-9 is inserted in the box after inspection different from the drawer. The drawer will take one out and put the paper back to the box for re-draw for 9 times. The winner will be notified as soon as possible after the draw.</p>
    <p>3.6 Notice of winning. a) The winner will be contacted by “Push Notification” which lists contact details for our Skype, WeChat, Line, WhatsApp accounts ID and Email address. It is winner's responsibility to respond to us with valid contact details within 24 hours since the push notification is send out to your device.</p>
    <p>b) Each winning entry will be validated, and if the instructions for entry have not been followed, a new winner will be chosen.3.7 Disclaimer. a) Events may occur that render the competition itself or the awarding of the prizes impossible due to reasons beyond the control of the Promoter, and accordingly the Promoter may at its absolute discretion vary or amend the promotion and the entrant agrees that no liability shall attach to the Promoter as a result thereof.b) If there is an error in the application, or one that occurs within third party applications during the course of the competition; this will be rectified as soon as possible. However, these errors are out of control of the competition host and therefore not their responsibility. The giveaway remains valid even if not all entry methods are available due to these software or third party application errors /error messages throughout the competitionc) Each entry is a single entry into the giveaway and stands alone as such. Any incorrect entries from the winner only make these entry methods invalid, not all the winners’ entries. The winning entry method from them will still be valid as long as it complies with our other terms and conditions.d) Entries using any software or automated process to make bulk entries will be disqualified.e) Once the application is unintalled from your device, tickets obtained to the date will be terminated and become invalid and not subject to receive prizes.f) For competitions/giveaways with more than one prize, you will be informed which one you have been chosen for, and there will be no alternatives.3.8 Prize Detail.a) Weekly giveaway prize:iPhone 6 128GB) Grand Prize:Porsche Cayman
    <p>3.9 Winner selection date.Weekly giveaway prize:</p>
    <p>Week 1 – xx/xx/xxxx</p>
    <p>Week 2 – xx/xx/xxxx</p>
    <p>Week 3 – xx/xx/xxxx</p>
    <p>Week 4 – xx/xx/xxxx</p>
    <p>Week 5 – xx/xx/xxxx.</p>
    
    
    <p>Grand Prize:</p>
    <p>xx/xx/xxxx</p>
    <p>3.9 Prize delivery period. Delivery of prizes may take up to 28 days unless otherwise stated within the specific details; please allow this time before querying the dispatch of an item.</p>
    
    <h2>4.INTELLECTUAL PROPERTY ; SUSPENSION</h2>
    <p>4.1 Restrictions. We reserve the right to restrict access to the Services in any way, including the right to limit the number and type of Advertisements that are delivered to you through the Services. In addition, the rights granted to you in this Agreement are subject to the following restrictions:</p>
    <p>(a) you will not license, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Services; (b) you will not modify, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Services; (c) you will not access the Services in order to build a similar or competitive service;(d) except as expressly stated herein, no part of the Services may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means. Any future release, update, or other addition to functionality of the Services will be subject to the terms of this Agreement. All copyright and other proprietary notices on any Services content may not be removed, obscured or modified.</p>
    
    <p>4.2 Modification. Viral Giveaway reserves the right, at any time, (temporarily or permanently) to modify, suspend, or discontinue the Services or any part thereof with or without notice. This includes (but is not limited to) the manner in which tickets may be issued. You agree that Viral Giveaway will not be liable to you or to any third party for any modification, suspension, or discontinuance of Services or any part thereof.</p>
    
    <p>4.3 No Support or Maintenance. You acknowledge and agree that Viral Giveaway will have no obligation to provide you with any support or maintenance in connection with the Services.</p>
    
    <p>4.4 Ownership. Excluding your User Content (defined below), you acknowledge that all the intellectual property rights, including copyrights, patents, trademarks, and trade secrets, in the Services are owned by Viral Giveaway or Viral Giveaway‘s licensors. The provision of the Services does not transfer to you or any third party any rights, title or interest in or to such intellectual property rights. Viral Giveaway and its suppliers reserve all rights not granted in this Agreement.</p>
    
    <h2>5.USER CONTENT</h2>
    <p>5.1 User Content. "User Content" means any and all information and content that a user submits to, or uses with, the Services (e.g. content in the user's profile or postings). You are solely responsible for your User Content. You assume all risks associated with use of your User Content, including any reliance on its accuracy, completeness or usefulness by others, or any disclosure of your User Content that makes you or any third party personally identifiable. You hereby represent and warrant that your User Content does not violate the Acceptable Use Policy (defined below). You may not state or imply that your User Content is in any way provided, sponsored or endorsed by Viral Giveaway. Because you alone are responsible for your User Content (and not Viral Giveaway), you may expose yourself to liability if, for example, your User Content violates the Acceptable Use Policy. Viral Giveaway is not obligated to backup any User Content and User Content may be deleted at anytime. You are solely responsible for creating backup copies of your User Content if you desire.</p>
    
    <p>5.2 License. You hereby grant, and you represent and warrant that you have the right to grant, to Viral Giveaway an irrevocable, nonexclusive, royalty-free and fully paid, worldwide license to reproduce, distribute, publicly display and perform, prepare derivative works of, incorporate into other works, and otherwise use your User Content, and to grant sub licenses of the foregoing, solely for the purposes of including your User Content in the Application, and Services. You agree to irrevocably waive (and cause to be waived) any claims and assertions of moral rights or attribution with respect to your User Content.</p>
    
    <p>5.3 Acceptable Use Policy. The following sets forth Viral Giveaway's "Acceptable Use Policy":</p>
    <p>(a)You agree not to use the Services to collect, upload, transmit, display, or distribute any User Content (i) that violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; (ii) that is unlawful, harassing, abusive, tortuous, threatening, harmful, invasive privacy of others, vulgar, defamatory, false, intentionally misleading, trade libelous, pornographic, obscene, patently offensive, promotes racism, bigotry, hatred, or physical harm of any kind against any group or individual or is otherwise objectionable; (iii) that is harmful to minors in any way; or (iv) that is in violation of any law, regulation, or obligations or restrictions imposed by any third party.</p>
    <p>(b)In addition, you agree not to use the Services to: (i) upload, transmit, or distribute any computer viruses, worms, or any software intended to damage or alter a computer system or data; (ii) send unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of duplicate or unsolicited messages, whether commercial or otherwise; (iii) harvest, collect, gather or assemble information or data regarding other users, including e-mail addresses, without their consent; (iv) interfere with, disrupt, or create an undue burden on servers or networks connected to the Services or violate the regulations, policies or procedures of such networks;(v) attempt to gain unauthorized access to the Services, other computer systems or networks connected to or used together with the Services, through password mining or other means; (vi) harass or interfere with another user's use and enjoyment of the Services; (vi) introduce software or automated agents or scripts to the Services so as to produce multiple accounts, generate automated searches, requests and queries, or to strip, scrape, or mine data from the Services (except that we grant the operators of public search engines revocable permission to use spiders to copy materials from the Site for the sole purpose of and solely to the extent necessary for creating publicly available search-able indies of the materials, but not caches or archives of such materials); (vii) provide false or deceptive information (including but not limited to impersonating any person or entity) or (viii) modify, adapt, translate, reverse engineer or disassemble any of the Services.</p>
    
    <p>5.4 Enforcement. We reserve the right (but have no obligation) to review any User Content, investigate, and/or take appropriate action against you in our sole discretion if you violate the Acceptable Use Policy or any other provision of this Agreement or otherwise create liability for us or any other person. Such acts may include removing or modifying your User Content, terminating your Viral Giveaway Account in accordance with Section 6.</p>
    
    <p>5.5 Feedback. If you provide Viral Giveaway any feedback or suggestions regarding the Services ("Feedback"), you hereby assign to Viral Giveaway all rights in the Feedback and agree that Viral Giveaway will have the right to use such Feedback and related information in any manner it deems appropriate. Viral Giveaway will treat any Feedback you provide to Viral Giveaway as non-confidential and non-proprietary. You agree that you will not submit to Viral Giveaway any information or ideas that you consider to be confidential or proprietary.</p>
    
    <h2>6.ADS AND THIRD PARTY SITES; OTHER USERS</h2>
    <p>6.1 Third Party Sites & Ads. The Services, including the Application, may contain Advertisements and contain links to third party websites and services (collectively, "Advertisements and Third Party Sites"). Such Advertisements and Third Party Sites are not under the control of Viral Giveaway and Viral Giveaway is not responsible for any Advertisements, Third Party Sites or any products or services promoted in or on the Advertisements and Third Party Sites. Viral Giveaway provides these Advertisements and access to Third Party Sites only as a convenience and does not warrant or make any representations with respect to the Advertisements and Third Party Sites. You use all the Advertisements and Third Party Sites, and the products and services promoted in or on the Advertisements and Third Party Sites at your own risk. When you link to a Third Party Site, the app third party's terms and policies apply, including the third party's privacy and data gathering practices. You should make whatever investigation you feel necessary or appropriate before proceeding with any transaction in connection with such Advertisements and Third Party Sites.</p>
    
    <h2>7.TERM AND TERMINATION</h2>
    <p>Subject to this Section, this Agreement will remain in full force and effect while you use the Services. We may (a) suspend your rights to use the Services (including your Viral Giveaway Account) or (b) terminate this Agreement, at any time for any reason at our sole discretion, including for any use of the Services in violation of this Agreement. Upon termination of this Agreement, your Viral Giveaway Account and right to access and use the Services will terminate immediately. You understand that any termination of your Account involves deletion of your User Content associated therewith from our live databases. Viral Giveaway will not have any liability whatsoever to you for any termination of this Agreement, including for termination of your Account or deletion of your User Content. As noted above, in the event of any termination of this Agreement, we may invalidate your earned tickets.</p>
    
    <h2>8.PRIVACY</h2>
    <p>8.1 User Consent by submitting Personal Information through our Services, you agree to the terms of this Privacy Policy and you expressly consent to the collection, use and disclosure of your Personal information in accordance with this Privacy Policy.</p>
    
    <p>8.2 Types of Data We Collect: "Personal Information" means information that allows someone to identify or contact you, including, for example, your name, e-mail address, contact number as well as any other non-public information about you that is associated with or linked to any of the foregoing data. "Anonymous Information" means data that is not associated with or linked to your Personal Information. Anonymous Information does not, by itself, permit the identification of individual persons. We collect Personal Information and Anonymous Information, as described below through the Services.(a) Information You Provide to Us.</p>
    <p>We may collect Personal Information from you, such as your name, gender, age, email address, and any other information you directly give us through the Services.</p>
    <p>We collect information about your interactions with the Services including, your engagement with particular Advertisements, the tickets you have accumulated through the Services.</p>
    <p>In connection with an Advertisement intended to create marketing leads for the advertiser, we may allow you to disclose your Personal Information to an advertiser through the Advertisement, but only where it is clear that your Personal Information is being collected by the advertiser.</p>
    
    <p>(b) Information Collected via Technology.</p>
    <p>To make the Services more useful to you, the Services automatically collect information from you, including your browser type, Internet Protocol (IP) address, domain name, user profiles, and/or a date/time stamp for your visit, and, with respect to our mobile phone, the unique device id (including device IMEI information).</p>
    
    <p>8.3 Use of Your Personal Information</p>
    <p>(a) General Use: In general, Personal Information you submit to us is used either to respond to requests that you make, or to aid us in serving you better. We may use your Personal Information in the following ways:</p>
    <p>・To provide the Services, including the awarding prizes you.</p>
    <p>・To direct certain Advertisements to you so that you are more likely to see Advertisements that are relevant to you.</p>
    <p>・To facilitate the creation of and secure your Viral Giveaway Account on our network.</p>
    <p>・To identify you as a user in our system.</p>
    <p>・To provide improved administration of our Services.</p>
    <p>・To notify visitors about updates to our Services.</p>
    <p>・To improve and customize the quality of experience when you interact with our Services.</p>
    <p>・To send offers and promotional materials related to our Services and for other marketing purposes.</p>
    
    <p>(b) Use of Data Collected via Technology: The Personal Information collected through technological means is used either to respond to requests that you make, or to aid us in serving you better. We may use your Personal Information in the following ways:</p>
    <p>・To track user-specific information on what pages users access or visit.</p>
    <p>・To improve and customize the quality of experience when you interact with our Site, our Application, and Services.</p>
    <p>・To personalize Services, including to direct certain Advertisements to you so that you are more likely to see Advertisements that are relevant to you.</p>
    
    <p>8.4 Disclosure of Your Personal Information: We disclose your Personal Information as described below and as described elsewhere in this Privacy Policy.</p>
    <p>(a) Third Party Service Providers: We may share your Personal Information with third party service providers:</p>
    <p>・To provide you with the Services that we offer you through our Site and our Application.</p>
    <p>・To facilitate creation of accounts.</p>
    
    <p>8.5 Security of Your Personal Information: Company is committed to protecting the security of your Personal Information. We use a variety of industry-standard security technologies and procedures to help protect your Personal Information from unauthorized access, use, or disclosure. Please do not disclose your Viral Giveaway Account password or confidential information to unauthorized people. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while Company uses reasonable efforts to protect your Personal Information, Company cannot guarantee its absolute security.</p>
    
    <p>8.6 Changes to This Privacy Policy: This Privacy Policy is subject to occasional revision, it is users' solo responsibility to stay up to date with the current policy.</p>
    
    <h2>9.GENERAL</h2>
    <p>9.1 Changes to Terms of Use. This Agreement is subject to occasional revision, and if we make any substantial changes, we may notify you by sending you an e-mail to the last e-mail address you provided to us (if any) and/or by prominently posting notice of the changes on our Site or Application. Any changes to this agreement will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you (if app) or thirty (30) calendar days following our posting of notice of the changes on our Site or Application. These changes will be effective immediately for new users of our Site or Services. You are responsible for providing us with your most current e-mail address or any contact details. In the event that the last contact details that you have provided us is not valid, or for any reason is not capable of delivering to you the notice described above, our dispatch of the notice (inc email) containing such notice will nonetheless constitute effective notice of the changes described in the notice. Continued use of our Site, our Application, or Services following notice of such changes will indicate your acknowledgment of such changes and agreement to be bound by the terms and conditions of such changes.</p>
    
    <p>9.2 You and Viral Giveaway must abide by the following rules: (a)any claims brought by you or Viral Giveaway must be brought in the party's individual capacity, and not as a plaintiff or class member in any purported class or representative proceeding;(b)in case the claims brought by you or Viral Giveaway are unable to be resolved between the two parties, claims will be brought in the courts located in Singapore.</p>
    
    <h2>10.CONTACT INFORMATION</h2>
    <p>Viral Giveaway [Mylon Pte. Ltd]<br />
    10 Anson Road, #10-11<br />
    International Plaza<br />
    Singapore 079903<br />
    Email: info@viral-giveaway.com</p>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="hideTermsDialog()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
