<div id="winner-dialog" class="dialog" ng-show="winnerDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Past Winner</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body" ng-bind-html="winnerDialog.content_tag"></div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="hideWinnerDialog()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

