<h1> News Tags :: <a href="#/news_tag/new">Add New Tag</a></h1>
<div id="news_tag-controller">	 
    <table class="uploadform">
        <thead>
            <tr>
                <th colspan="2">Upload</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>File</th>
                <td>
                    <input type="file" onchange="angular.element(this).scope().preUploadResults('preloadStatus')" />
                    <span>{{ preloadStatus }}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="uploadResults()">Upload</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Region</th>
                <td>
                    <select ng-model="query.region">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_region" ng-selected="v == query.region">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td> 
                    <select ng-model="query.city_id">
                        <option value="all" ng-selected="'' == query.city_id || 'all' == query.city_id">-----</option>
                        <option value="0" ng-selected="0 == query.city_id">All</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == query.city_id">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    <select ng-model="query.category_id" ng-show="query.region != 'jp'">
                        <option value="all" ng-selected="'' == query.category_id || 'all' == query.category_id">-----</option>
                        <option value="0" ng-selected="0 == query.category_id">All</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_category" ng-selected="v == query.category_id">{{ k | uppercase }}</option>
                    </select>    
                     <select ng-model="query.category_id" ng-show="query.region == 'jp'">
                        <option value="all" ng-selected="'' == query.category_id || 'all' == query.category_id">-----</option>
                        <option value="0" ng-selected="0 == query.category_id">All</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_jp_category" ng-selected="v == query.category_id">{{ k | uppercase }}</option>
                    </select>                 
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <table class="data">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Tag</th>
                <th>Region</th> 
                <th>City</th>  
                <th>Category</th>  
                <th>Edit/Delete</th>              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in tagsdata" ng-class-even="'even'">                
                <td>{{ r.id }}</td>    
                <td>{{ r.tag }}</td>   
                <td ng-repeat="(k,v) in config.newspick_region" ng-if="v == r.region">{{ k }}</td> 
                <td ng-repeat="(k,v) in config.newspick_city" ng-if="v == r.city_id">{{ k }}</td> 
                <td ng-if="(r.city_id == null || r.city_id == 0 || r.city_id == '')">All</td> 
                <td ng-if="v == r.category_id" ng-repeat="(k,v) in config.newspick_category" >{{ k }}</td> 
                <td ng-if="(r.category_id == null || r.category_id == 0 || r.category_id == '')">All</td> 
                <td>
                    <a href="#/news_tag/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="6">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>              
        	</tr>
        </tfoot>
    </table>
</div>
