<h1 ng-if="tagsdata.id"> News Tags :: Edit :: {{ tagsdata.id }}</h1>
<h1 ng-if="!tagsdata.id"> News Tags :: New </h1>
<div id="news_tag_new-controller">
    <table class="edit">
    	<tbody>   
            <tr>
                <th>Tag</th>
                <td>
                    <input type="text" ng-model="tagsdata.tag" />                 
                </td>
            </tr>
            <tr>
                <th>Tag Group</th>
                <td>
                    <textarea rows="10" cols="30" ng-model="tagsdata.tags_group"></textarea>      
                    <span>Please use Comma (,) separate each tag</span>        
                </td>
            </tr>
            <tr>
                <th>Region</th>
                <td>
                    <select ng-model="tagsdata.region">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_region" ng-selected="v == tagsdata.region">{{ k | uppercase }}</option>
                    </select>                    
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <select ng-model="tagsdata.city_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == tagsdata.city_id">{{ k | uppercase }}</option>
                    </select>     
                </td>
            </tr> 
            <tr>
                <th>Category</th>
                <td>
                    <select ng-model="tagsdata.category_id" ng-show="tagsdata.region != 'jp'">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == tagsdata.category_id">All</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_category" ng-selected="v == tagsdata.category_id">{{ k | uppercase }}</option>
                    </select>    
                     <select ng-model="tagsdata.category_id" ng-show="tagsdata.region == 'jp'">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == tagsdata.category_id">All</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_jp_category_select" ng-selected="v == tagsdata.category_id">{{ k | uppercase }}</option>
                    </select>                 
                </td>
            </tr>
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>