<h1> Fortune Telling Results</h1>

<div id="fortune_telling_results-controller">
    <table class="uploadform">
        <thead>
            <tr>
                <th colspan="2">Upload</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>File</th>
                <td>
                    <input type="file" onchange="angular.element(this).scope().preUploadResults('preloadStatus')" />
                    <span>{{ preloadStatus }}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="uploadResults()">Upload</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>Date</th>
                <td>
                    <input type="text" ng-model="query.name" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>Date</th>
                <th>Send Mail Ready</th>
                <th>SentAt(GMT)</th>
                <th>CreatedAt(GMT)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in fortune_telling_results" ng-class-even="'even'">
                <td>{{ r.target_date }}</td>
                <td>{{ r.ready }}</td>
                <td>{{ r.sent_at }}</td>
                <td>{{ r.created_at }}</td>
                <td>
                    <a href="javascript:void(0)" ng-click="delete(r.target_date)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="4">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

