<h1 ng-if="target_date"> Fortune Telling Results :: Edit :: {{ target_date }}</h1>
<div id="fortune_telling_results-controller">
    <table class="edit">
        <tbody>
            <tr>
            	<th>Date</th>
                <td>{{ target_date }}</td>
            </tr>
        </tbody>
    </table>

    <table class="edit advanced" ng-repeat="r in fortune_telling_results">
        <thead>
            <tr>
                <th colspan="2">
                    <p>{{ config.fortune_telling_constellations[r.constellation-1] }}</p>
                </th>
            </tr>
        </thead>
        <tbody>
        	<tr>
        		<th>Love</th>
                <td><input type="text" ng-model="r.love_text_en" /></td>
        	</tr>
        	<tr>
        		<th>Money</th>
                <td><input type="text" ng-model="r.money_text_en" /></td>
        	</tr>
        	<tr>
        		<th>Work</th>
                <td><input type="text" ng-model="r.work_text_en" /></td>
        	</tr>
        	<tr>
        		<th>Total</th>
                <td><input type="text" ng-model="r.total_text_en" /></td>
        	</tr>
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

