<h1> News Sources :: <a href="#/news_picks_source/new">Add New Sources</a></h1>
<div id="news_picks_source-controller">	 
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Region</th>
                <td>
                    <select ng-model="query.region">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_region" ng-selected="v == query.region">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <select ng-model="query.city_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == query.city_id">{{ k }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <table class="data">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Sources</th>
                <th>Region</th> 
                <th>City</th>  
                <th>Edit/Delete</th>              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in sources" ng-class-even="'even'">                
                <td>{{ r.id }}</td>    
                <td>{{ r.source_url }}</td>   
                <td ng-repeat="(k,v) in config.newspick_region" ng-if="v == r.region">{{ k }}</td> 
                <td ng-repeat="(k,v) in config.newspick_city" ng-if="v == r.city_id">{{ k }}</td> 
                <td ng-show="r.city_id == null">All</td>
                <td>
                    <a href="#/news_picks_source/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th>
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>              
        	</tr>
        </tfoot>
    </table>
</div>
