<h1 ng-if="sources.id"> News Sources :: Edit :: {{ sources.id }}</h1>
<h1 ng-if="!sources.id"> News Sources :: New </h1>
<div id="news_picks_new_source-controller">
    <table class="edit">
    	<tbody>   
            <tr>
                <th>URL</th>
                <td>
                    <input type="text" ng-model="sources.source_url" />                 
                </td>
            </tr>
            <tr>
                <th>Region</th>
                <td>
                    <select ng-model="sources.region">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_region" ng-selected="v == sources.region">{{ k | uppercase }}</option>
                    </select>                    
                </td>
                <tr>
                <th>City</th>
                <td>
                    <select ng-model="sources.city_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == sources.city_id">{{ k | uppercase }}</option>
                    </select>     
                </td>
            </tr> 
            </tr>
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>