<div class="widget-container">
    <h2>User Register Summary</h2>
    <div class="widget">
        <table class="summary-data">
        	<tbody>
        		<tr>
        			<th>Today:</th>
                    <td>{{summary.users.register.today}}</td>
        		</tr>
        		<tr class="even">
        			<th>Yesterday:</th>
                    <td>{{summary.users.register.yesterday}}</td>
        		</tr>
        		<tr>
        			<th>This Week:</th>
                    <td>{{summary.users.register.this_week}}</td>
        		</tr>
        		<tr class="even">
        			<th>Last Week:</th>
                    <td>{{summary.users.register.last_week}}</td>
        		</tr>
        		<tr>
        			<th>This Month:</th>
                    <td>{{summary.users.register.this_month}}</td>
        		</tr>
        		<tr class="even">
        			<th>Last Month:</th>
                    <td>{{summary.users.register.last_month}}</td>
        		</tr>
        	</tbody>
        </table>
    </div>
</div>
