<div class="widget-container" ng-repeat="type in config.admin_download_summary_types_with_all">
    <h2>Download {{type}} Summary</h2>
    <div class="widget">
        <table class="summary-data">
        	<tbody>
        		<tr>
        			<th>Today:</th>
                    <td>{{summary.trackings[type].today}}</td>
        		</tr>
        		<tr class="even">
        			<th>Yesterday:</th>
                    <td>{{summary.trackings[type].yesterday}}</td>
        		</tr>
        		<tr>
        			<th>This Week:</th>
                    <td>{{summary.trackings[type].this_week}}</td>
        		</tr>
        		<tr class="even">
        			<th>Last Week:</th>
                    <td>{{summary.trackings[type].last_week}}</td>
        		</tr>
        		<tr>
        			<th>This Month:</th>
                    <td>{{summary.trackings[type].this_month}}</td>
        		</tr>
        		<tr class="even">
        			<th>Last Month:</th>
                    <td>{{summary.trackings[type].last_month}}</td>
        		</tr>
        	</tbody>
        </table>
    </div>
</div>
