<div id="dashboard-container">
    <ng-include src="'assets/admin/dashboard/inc_summary_users.html'"></ng-include>
    <ng-include src="'assets/admin/dashboard/inc_summary_trackings.html'"></ng-include>
</div>
