<div id="information-controller">
    <ng-include src="'assets/web/includes/authenticated_header.html'"></ng-include>
    
    <div id="contents">
        <div class="information-container">
            <div class="information list-item clearfix" ng-repeat="i in information" ng-click="showDialog(i)">
                <div class="left-wrapper">
                    <div class="title">{{ i.title }}</div>
                    <div class="published_at">{{ formatDate(getGMTTime(i.published_at), 'yyyy-MM-dd HH:mm') }}</div>
                </div>
                <div class="right-wrapper">
                    <div class="icon" ng-class="{'viewed': i.viewed}"></div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'assets/web/includes/authenticated_footer.html'"></ng-include>
</div>

<div id="information-detail-dialog" class="dialog fixed-dialog information-dialog" ng-show="dialog !== null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">{{ dialog.information.title }}</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body" ng-bind-html="dialog.content_tag"></div>
                    <div class="thumb" ng-show="dialog.information.image_url">
                        <img src="{{ dialog.information.image_url }}" alt="Thumbnail" />
                    </div>
                    <div class="video" ng-show="dialog.information.video_url" ng-bind-html="dialog.video_tag"></div>
                </div>
                <div class="footer">
                    <div class="footer-inner">
                        <p class="button" ng-click="hideDialog()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
