<h1 ng-if="newspick.id"> {{newText}} :: Edit :: {{ newspick.id }}</h1>
<h1 ng-if="!newspick.id"> {{newText}}  :: New </h1>
<div id="news_pick-controller">
    <table class="edit">
    	<tbody>   
            <tr>
                <th>News URL</th>
                <td>
                    <input type="text" ng-model="newspick.news_url" id="news_url" ng-change="verifyDuplicateNews()" />
                    <button id="getData">Get Title and Image URL</button>
                </td>
            </tr> 		
            <tr>
    			   <th>Title</th>
                <td>
                    <input type="text" ng-model="newspick.title" id="news_title" />
                </td>
    		    </tr> 
            <tr>
             <th>OG Title</th>
                <td>
                    <input type="text" ng-model="newspick.og_title" id="news_og_title" />
                </td>
            </tr>  
             <tr>
                <th>Publishers</th>
                <td>
                    <input type="text" ng-model="newspick.publishers" id="news_publishers" />
                </td>
            </tr>  
            <tr>
                <th>Shop Text</th>
                <td>
                    <input type="text" ng-model="newspick.news_pick_shop" id="news_publishers" />
                </td>
            </tr> 
            <tr>
                <th>Web URL</th>
                <td>
                    <input type="text" ng-model="newspick.web_url" id="news_web_url" />
                </td>
            </tr>      
            <tr>
                <th>Image URL</th>
                <td>
                    <input type="text" ng-model="newspick.image_url" id="news_image_url" />
                    <img id="preview_image" ng-src="{{newspick.image_url}}" />
                </td>
            </tr>           
            <tr>
                <th>Category</th>
                <td>
                    <select ng-model="newspick.category_id" ng-show="regionValue != 'jp'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_category" ng-selected="v == newspick.category_id">{{ k | uppercase }}</option>
                    </select>    
                     <select ng-model="newspick.category_id" ng-show="regionValue == 'jp'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_jp_category_select" ng-selected="v == newspick.category_id">{{ k | uppercase }}</option>
                    </select>                 
                </td>
            </tr>
            <tr>
                <th>Classified</th>
                <td>
                    <select ng-model="newspick.classified_sub_category" ng-show="regionValue != 'jp'" ng-disabled="newspick.category_id != 97">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.sub_classified_category" ng-selected="v == newspick.classified_sub_category">{{ k | uppercase }}</option>
                    </select>    
                     <select ng-model="newspick.classified_sub_category" ng-show="regionValue == 'jp'" ng-disabled="newspick.category_id != 97">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.sub_classified_category_jp" ng-selected="v == newspick.classified_sub_category">{{ k | uppercase }}</option>
                    </select>                 
                </td>
            </tr>
             <tr>
                <th>Show in Tab</th>
                <td>
                    <select ng-init="newspick.show_in_list=1" ng-model="newspick.show_in_list">
                       <option value="1" ng-selected="1 == newspick.show_in_list.to_i">Show</option>
                        <option value="0" ng-selected="0 == newspick.show_in_list.to_i">Hide</option>
                    </select>                    
                </td>
            </tr>
             <tr>
                <th>Magazine</th>
                <td>
                    <select ng-init="newspick.is_magazine=1" ng-model="newspick.is_magazine">
                      <option value="1" ng-selected="1 == newspick.is_magazine.to_i">Yes</option>
                      <option value="0" ng-selected="0 == newspick.is_magazine.to_i">No</option>
                    </select>                    
                </td>
            </tr>
            <tr>
                <th>Top</th>
                <td>
                    <select ng-init="newspick.hot_news=0" ng-model="newspick.hot_news">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_hotnews" ng-selected="v == newspick.hot_news">{{ k | uppercase }}</option>
                    </select>                    
                </td>
            </tr>
             <tr>
                <th>Events</th>
                <td>
                    <select ng-init="newspick.news_event=0" ng-model="newspick.news_event">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_events" ng-selected="v == newspick.news_event">{{ k | uppercase }}</option>
                    </select>                    
                </td>
            </tr>
            <tr>
                <th>Promotions</th>
                <td>
                    <select ng-init="newspick.news_promotion=0" ng-model="newspick.news_promotion">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_promotions" ng-selected="v == newspick.news_promotion">{{ k | uppercase }}</option>
                    </select>                    
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <select ng-model="newspick.city_id" ng-show="regionValue != 'jp'">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == newspick.city_id">WORLD</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == newspick.city_id">{{ k | uppercase }}</option>
                    </select>   
                    <select ng-model="newspick.city_id" ng-show="regionValue == 'jp'">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == newspick.city_id">WORLD</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_jpcity" ng-selected="v == newspick.city_id">{{ k | uppercase }}</option>
                    </select>                  
                </td>
            </tr>  
            <tr>
                <th>Description</th>
                <td>
                    <textarea rows="10" cols="30" ng-model="newspick.news_description" id="news_description"></textarea>
                </td>
            </tr>          
            <tr>
                <th>Region</th>
                <td>
                    <span>{{regionValue}}</span>
                    <input id="input_region" type="text" ng-model="newspick.region" ng-value="{{regionValue}}" style="display:none;" />
                    <input type="text" ng-model="newspick.news_staff_checked" ng-value="1" style="display:none;" />
                </td>
            </tr>
    		<tr>
    			<th>Tags</th>
                <td>
                    <textarea rows="10" cols="30" ng-model="newspick.tags"></textarea>
                    <p>(User comma (,) to seperate each tag for example: tag1, tag2, ... , tagN)</p>
                </td>
            </tr>
    		<tr>
    			<th>Publish Status</th>
                <td>
                    <select ng-init="newspick.publish_status=2" ng-model="newspick.publish_status">
                        <option value="1" class="ng-binding ng-scope">DRAFT</option>
                        <option value="2" class="ng-binding ng-scope">PUBLISH</option>
                        <option value="3" class="ng-binding ng-scope">UNPUBLISH</option>
                        <option value="4" class="ng-binding ng-scope">Category Schedule</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">

//<![CDATA[
    function jsonEscape(str)  {
        return str.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
    }

    (function($, ng) {
      'use strict';

      var $val = $.fn.val; // save original jQuery function

      // override jQuery function
      $.fn.val = function (value) {
        // if getter, just return original
        if (!arguments.length) {
          return $val.call(this);
        }

        // get result of original function
        var result = $val.call(this, value);

        // trigger angular input (this[0] is the DOM object)
        ng.element(this[0]).triggerHandler('input');

        // return the original result
        return result; 
      }
    })(window.jQuery, window.angular);

    $(function() {   
        $("#getData").click(function() {
            var originURL = "";
            var urlData = $('#news_url').val();   
            var regionInput = $('#input_region').attr('ng-value');
            var randomFixedInteger = function (length) {
                return Math.floor(Math.pow(10, length-1) + Math.random() * (Math.pow(10, length) - Math.pow(10, length-1) - 1));
            }
            var splitstring = urlData.split('//');
            var secondsplit = splitstring[1].split('/');
            var finalpub = secondsplit[0].replace("www.", "");

            web_url = 'https://www.local-picks.com/'+regionInput+'/'+randomFixedInteger(8); 
            $('#news_web_url').val(web_url.trim());

            if(urlData != ""){
              if(
                 urlData.search("shift.jp.org") != -1 ||
                 urlData.search("konest.com") != -1 || 
                 urlData.search("japanese.yonhapnews.co.kr") != -1 ||
                 urlData.search("japanese.joins.com") != -1 ||
                 urlData.search("paris.jimomo.jp") != -1 ||
                 urlData.search("kazu.namjai.cc") != -1 ||
                 urlData.search("bbs.ablogg.jp") != -1 ||
                 urlData.search("j-channel.jp") != -1 ||
                 urlData.search("aseanfootball.biz") != -1 ||
                 urlData.search("eatworks.com") != -1 ||
                 urlData.search("info-fresh.com") != -1 ||
                 urlData.search("emb-japan.go.jp") != -1 ||
                 urlData.search("hkpost.com.hk") != -1 ||
                 urlData.search("herenow.city") != -1 ||
                 urlData.search("visitseoul.net") != -1 ||
                 urlData.search("th.emb-japan.go.jp") != -1 ||
                 urlData.search("jat.or.th") != -1 ||
                 urlData.search("cool-bangkok.com") != -1 ||
                 urlData.search("globalnewsasia.com") != -1
                ) {
                   originURL = "http://whateverorigin.org/get?url=" + encodeURIComponent(urlData);
              }
              else {
                  //originURL = "http://whateverorigin.org/get?url=" + urlData;
                  originURL = "http://whateverorigin.org/get?url=" + encodeURIComponent(urlData);
              }

                $.ajax({
                    url: originURL,
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'jsonp',
                    success: function(data) { 
                         console.log(data.contents);
                          var title = "No Title";
                          var og_title = "No Title";
                          var image = "No Image";
                          var publishers = "";
                          var web_url = "";
                          var description = "";
                          if(data && data !="") {
                            //console.log(data.contents);         
                            title = $(data.contents).filter('title').text();
                            og_title = $(data.contents).filter("meta[property='og:title']").attr('content');
                            image = $(data.contents).filter("meta[property='og:image']").attr('content');
                            //publishers = $(data.contents).filter("meta[property='og:site_name']").attr('content');  
                            publishers = finalpub;
                            //description = $(data.contents).filter("meta[property='og:description']").attr('content');  

                          }

                          if(title != "" && title != "No Title" && typeof title !== "undefined") $('#news_title').val(title.trim());
                          if(og_title != "" && og_title != "No Title" && typeof og_title !== "undefined") $('#news_og_title').val(og_title.trim());
                          if(image != "" && image != "No Image" && typeof image !== "undefined") $('#news_image_url').val(image.trim());
                          if(publishers != "" && typeof publishers !== "undefined") $('#news_publishers').val(publishers.trim());
                          if(image != "" && image != "No Image" && typeof image !== "undefined") $('#preview_image').attr('src', image.trim());
                          //if(description != "" && typeof description !== "undefined") $('#news_description').val(description.trim());

                    },
                    error: function(ts) { console.log(ts.responseText); }
                });
            
            }            
        });
    });
//]]>
</script>