<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	
	<title>VIRAL GIVEAWAY</title>
	
	<style>
		h1{
			color:#fff;
			text-align: center;
			z-index: 9999;
		}
		h2{
			color:#fff;
			text-align: center;
		}

		p{
			color:#fff;
			text-align: center;
		}
				p { font: 16px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 40px; }
		img.bg {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning 
			position: fixed;
			top: 0;
			left: 0;*/

			z-index: -9999;
		}
		
		@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}
		
		#page-wrap { position: relative; width: 60%; margin: 50px auto; padding: 20px; /*background: white; */ -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; text-align: center;}

		#page-wrap-noborder { position: relative; width: 60%; margin: 50px auto; padding: 20px; /*background: white; */ text-align: center;}

		.twitter{
			z-index: 9999;
		}
	</style>

<!--
  <% #if Rails.env.production? then %>
  <script ng-show="">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64056741-1', 'auto');
    ga('send', 'pageview');
  </script>
  <% #end %>
-->
</head>

<body>
<!--
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=441423602633484";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
-->
	<img src="/assets/web/vg_service_close_page.png" class="bg">	

</body>

</html>
