    <table class="edit advanced">
        <thead>
            <tr>
                <th colspan="2">
                    <p>Advanced</p>
                </th>
            </tr>
        </thead>
    	<tbody>
        	<tr>
        		<th>App IconURL</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.app_icon_url" placeholder="http://example.com/icon.png" />
                    </p>
                    <p ng-show="offer.app_icon_url">
                        <img src="{{offer.app_icon_url}}" class="thumbnail"/>
                    </p>
                </td>
        	</tr>
            <tr>
            	<th>Provider Campaign ID</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.provider_offer_id" placeholder="12345" />
                    </p>
                </td>
            </tr>
    	</tbody>
    </table>

