    <table class="edit advanced">
        <thead>
            <tr>
                <th colspan="2">
                    <p>Advanced</p>
                </th>
            </tr>
        </thead>
    	<tbody>
    		<tr>
    			<th>Cover ImageURL</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.cover_image_url" placeholder="http://example.com/image.png" />
                    </p>
                    <p>
                        <img src="{{offer.cover_image_url}}" class="thumbnail" ng-show="offer.cover_image_url"/>
                    </p>
                </td>
    		</tr>
    	</tbody>
    </table>

