    <table class="edit advanced">
        <thead>
            <tr>
                <th colspan="2">
                    <p>Advanced</p>
                </th>
            </tr>
        </thead>
    	<tbody>
    		<tr>
    			<th>Cover ImageURL</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.cover_image_url" placeholder="http://example.com/image.png" />
                    </p>
                    <p>
                        <img src="{{offer.cover_image_url}}" class="thumbnail" ng-show="offer.cover_image_url"/>
                    </p>
                </td>
    		</tr>
            <tr>
                <th>
                    YouTube VideoID
                    <p class="description">Require YouTube VideoID or VideoURL</p>
                </th>
                <td> 
                    <p>
                        <input type="text" ng-model="offer.youtube_video_id" placeholder="MYI8G1PAXHk" />
                    </p>
                    <p class="description">https://www.youtube.com/watch?v=${YOUTUBE_ID}</p>
                    <p ng-show="offer.youtube_video_id">
                        <a href="https://www.youtube.com/watch?v={{offer.youtube_video_id}}" target="_blank">Go to link</a>
                    </p>
                </td>
    		</tr>
    		<tr>
    			<th>VideoURL</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.video_url" placeholder="http://example.com/movie.mp4" />
                    </p>
                    <p ng-show="offer.video_url">
                        <a href="{{offer.video_url}}" target="_blank">Go to link</a>
                    </p>
                </td>
    		</tr>
    	</tbody>
    </table>

