    <table class="edit advanced">
        <thead>
            <tr>
                <th colspan="2">
                    <p>Advanced</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
    			<th>Promotional</th>
                <td>
                    <input type="checkbox" value="1" ng-model="offer.promotional" ng-checked="offer.promotional" />
                </td>
    		</tr>
            <tr>
    			<th>Promotional Payment</th>
                <td>
                    <input type="text" ng-model="offer.promotional_payment" />
                </td>
    		</tr>
            <tr>
            	<th>Provider</th>
                <td>
                    <select ng-model="offer.provider" ng-if="!offer.id" ng-change="changeProvider()">
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_provider_map">{{ k }}</option>
                    </select>
                    <div ng-if="offer.id">
                        <span ng-repeat="(k,v) in config.offer_provider_map" ng-if="v == offer.provider">{{ k }}</span>
                    </div>
                    <div ng-show="offer.provider == config.offer_provider_map['adatha']">
                        <a href="http://ads.adatha.com/publisher/#!/offer/{{offer.provider_offer_id}}" target="_blank">Go to Offer Page</a>
                    </div>
                </td>
            </tr>
        	<tr>
        		<th>App IconURL</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.app_icon_url" placeholder="http://example.com/icon.png" />
                    </p>
                    <p ng-show="offer.app_icon_url">
                        <img ng-src="{{offer.app_icon_url}}" class="thumbnail"/>
                    </p>
                    <p>
                    	<button ng-click="offer.app_icon_url = '/assets/web/app_icon_100px.png'">Default App Icon</button>
                    </p>

                </td>
        	</tr>
        	<tr>
        		<th>ClickURL</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.click_url" placeholder="http://example.com/click" />
                    </p>
                </td>
            </tr>
            <tr>
            	<th>Provider Offer ID</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.provider_offer_id" placeholder="12345" />
                    </p>
                </td>
            </tr>
            <tr>
            	<th>Provider Payment(Cent)</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.provider_payment" placeholder="30" />
                    </p>
                </td>
            </tr>
            <tr>
            	<th>Provider Point</th>
                <td>
                    <p>
                        <input type="text" ng-model="offer.provider_point" placeholder="50" />
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

