<h1> Offers :: <a href="#/offers/new">New</a> </h1>

<div id="offers-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>Keyword</th>
                <td>
                    <input type="text" ng-model="query.keyword" />
                </td>
            </tr>
            <tr>
            	<th>Offer Type</th>
                <td>
                    <select ng-model="query.type">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_type_map" ng-selected="v == query.type">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>Promotional</th>
                <td>
                    <label for="promotional_none">NONE</label> <input type="radio" ng-model="query.promotional"  ng-value="" id="promotional_none"/>
                    <label for="promotional_on">ON</label> <input type="radio" ng-model="query.promotional"  ng-value="1" id="promotional_on"/>
                    <label for="promotional_off">OFF</label> <input type="radio" ng-model="query.promotional"  ng-value="0" id="promotional_off"/>
                </td>
            </tr>
            <tr>
            	<th>Provider</th>
                <td>
                    <select ng-model="query.provider">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_provider_map" ng-selected="v == query.provider">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>Provider Offer ID</th>
                <td>
                    <input type="text" ng-model="query.provider_offer_id" />
                </td>
            </tr>
            <tr>
            	<th>Platform</th>
                <td>
                    <select ng-model="query.platform">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_platform_map" ng-selected="v == query.platform">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>Country</th>
                <td>
                    <input type="text" ng-model="query.country" />
                </td>
            </tr>
            <tr>
            	<th>Publish Status</th>
                <td>
                    <select ng-model="query.publish_status">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_publish_status_map" ng-selected="v == query.publish_status">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>Live</th>
                <td>
                    <label for="live_none">NONE</label> <input type="radio" ng-model="query.live"  ng-value="" id="live_none"/>
                    <label for="live_on">ON</label> <input type="radio" ng-model="query.live"  ng-value="1" id="live_on"/>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <div class="bulk-action-container">
        <select ng-model="bulk.action">
            <option value="">-----</option>
            <option value="{{ v }}" ng-repeat="v in config.admin_offer_bulk_actions" ng-selected="v == bulk.action">{{ v }}</option>
        </select>
        <button ng-click="doBulkAction()">Run</button>
    </div>
    </div>
    <table class="data">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" value="1" ng-checked="bulk.all" ng-click="doCheckAll()" />
                </th>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Type</th>
                <th>Provider</th>
                <th>Country</th>
                <th>Platform</th>
                <th>Provider Offer ID</th>
                <th>Payment</th>
                <th>StartAt(GMT)</th>
                <th>EndAt(GMT)</th>
                <th>OrderNum(ASC)</th>
                <th>PublishStatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in offers" ng-class-even="'even'">
                <td>
                    <input type="checkbox" value="{{ r.id }}" ng-click="doCheck($event, r.id)" ng-checked="isChecked(r.id)" />
                </td>
                <td>{{ r.id }}</td>
                <td>
                    <img ng-src="{{ r.app_icon_url }}" width="50" height="50" ng-show="r.type == config.offer_type_map['cpi']"/>
                    <img ng-src="{{ r.cover_image_url }}" width="50" height="50" ng-show="r.type != config.offer_type_map['cpi']"/>
                </td>
                <td>{{ r.name }}</td>
                <td>
                    <span ng-repeat="(k,v) in config.offer_type_map" ng-if="v == r.type">{{ k }}</span>
                </td>
                <td>
                    <span ng-repeat="(k,v) in config.offer_provider_map" ng-if="v == r.provider">{{ k }}</span>
                </td>
                <td>{{ r.country }}</td>
                <td>
                    <span ng-repeat="(k,v) in config.offer_platform_map" ng-if="v == r.platform">{{ k }}</span>
                </td>
                <td>{{ r.provider_offer_id }}</td>
                <td>{{ r.provider_payment }}</td>
                <td>{{ r.start_at }}</td>
                <td>{{ r.end_at }}</td>
                <td>{{ r.order_num }}</td>
                <td>
                    <span ng-repeat="(k,v) in config.offer_publish_status_map" ng-if="v == r.publish_status">{{ k }}</span>
                </td>
                <td>
                    <a href="#/offers/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="14">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

