<h1 ng-if="offer.id"> Offers :: Edit :: {{ offer.id }}</h1>
<h1 ng-if="!offer.id"> Offers :: New </h1>
<div id="offers-controller">
    <table class="edit">
    	<tbody>
    		<tr>
    			<th>Type</th>
                <td>
                    <select ng-model="offer.type" ng-if="!offer.id">
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_type_map">{{ k }}</option>
                    </select>
                    <div ng-if="offer.id">
                        <span ng-repeat="(k,v) in config.offer_type_map" ng-if="v == offer.type">{{ k }}</span>
                    </div>
                </td>
    		</tr>
            <tr>
    			<th>Name</th>
                <td>
                    <input type="text" ng-model="offer.name" />
                </td>
    		</tr>
    		<tr>
    			<th>Description</th>
                <td>
                    <textarea rows="10" cols="30" ng-model="offer.description"></textarea>
                </td>
            </tr>
            <tr>
            	<th>Country</th>
                <td>
                    <input type="text" ng-model="offer.country" />
                    <p>(Thailand: th, Singapore: sg, ALL: all, See: <a href="http://en.wikipedia.org/wiki/ISO_3166-1" target="_blank">Country Codes</a>)</p>
                </td>
            </tr>
            <tr>
            	<th>Platform</th>
                <td>
                    <select ng-model="offer.platform">
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_platform_map">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
    			<th>PreviewURL</th>
                <td>
                    <input type="text" ng-model="offer.preview_url" />
                    <p><a href="{{ offer.preview_url }}" target="_blank">{{ offer.preview_url }}</a></p>
                </td>
            </tr>
            <tr>
    			<th>StartAt(GMT)</th>
                <td>
                    <input type="text" ng-model="offer.start_at" class="datepicker" />
                </td>
            </tr>
    		<tr>
    			<th>EndAt(GMT)</th>
                <td>
                    <input type="text" ng-model="offer.end_at" class="datepicker" />
                </td>
            </tr>
            <tr>
            	<th>OrderNum(ASC)</th>
                <td>
                    <input type="text" ng-model="offer.order_num" />
                </td>
            </tr>
    		<tr>
    			<th>Publish Status</th>
                <td>
                    <select ng-model="offer.publish_status">
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_publish_status_map">{{ k }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-include src="'assets/admin/offers/inc_form_information.html'"    ng-show="offer.type == config.offer_type_map['information']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_cpi.html'"            ng-show="offer.type == config.offer_type_map['cpi']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_video.html'"          ng-show="offer.type == config.offer_type_map['video']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_nativex.html'"        ng-show="offer.type == config.offer_type_map['nativex']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_super_rewards.html'"  ng-show="offer.type == config.offer_type_map['super_rewards']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_tyroo.html'"          ng-show="offer.type == config.offer_type_map['tyroo']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_supersonicads.html'"  ng-show="offer.type == config.offer_type_map['supersonicads']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_woobi.html'"          ng-show="offer.type == config.offer_type_map['woobi']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_personaly.html'"      ng-show="offer.type == config.offer_type_map['personaly']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_aarki.html'"          ng-show="offer.type == config.offer_type_map['aarki']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_trialpay.html'"       ng-show="offer.type == config.offer_type_map['trialpay']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_adcolony.html'"       ng-show="offer.type == config.offer_type_map['adcolony']"></ng-include>
    <ng-include src="'assets/admin/offers/inc_form_fyber.html'"          ng-show="offer.type == config.offer_type_map['fyber']"></ng-include>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker();
    });
</script>
