<h1> Tickets </h1>
<div id="tickets-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>Number</th>
                <td>
                    <input type="text" ng-model="query.number" />
                </td>
            </tr>
            <tr>
            	<th>Campaign ID</th>
                <td>
                    <input type="text" ng-model="query.campaign_id" />
                </td>
            </tr>
            <tr>
            	<th>User ID (Account ID)</th>
                <td>
                    <input type="text" ng-model="query.account_id" />
                </td>
            </tr>
       </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>Campaign ( ID )</th>
                <th>Number</th>
                <th>User ( Account ID )</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in tickets" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td><a href="/#/campaigns/edit?id={{ r.campaign.id }}">{{ r.campaign.name }} ( {{ r.campaign.id }} )</a></td>
                <td>{{ r.number }}</td>
                <td><a href="/#/users/edit?id={{ r.user.id }}">{{ r.user.name }} ( {{ r.user.account_id }} )</a></td>
                <td>{{ r.created_at }}</td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="8">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>


</div>
