// Place all the styles related to the Admin::Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    overflow-y: scroll;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

input, textarea {
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style:none;
}

table{
    border-collapse: collapse; 
    border-spacing:0;
}

caption, th{
    text-align: left;
}

a:focus {
    outline:none;
}

.clearfix:after {
    content: "."; 
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
    /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}

/* ================================
* Appliaction
* ================================ */
html, body {
    font-family: 'Helvetica Neue', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    height: 100%;
    width: 100%;
    color: #5A5A5E;
}

a {
    color: #686A6B;
}

img { max-width: 100%; height: auto; }
img.small-image { max-width: 70%; }

button {
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #1D1E20;
    box-sizing: border-box;
    font-size: 18px;
    min-width: 120px;
    background: linear-gradient(#6F7073, #94969A, #48484A);
    color: white;
    margin: 10px 5px;
}

button.large-button {
    padding: 10px 20px;
}

header {
    background-color: #000000;
    width: 100%;
    .title {
        color: white;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        padding: 5px;
    }
    .sub-header {
        background: linear-gradient(white, gray);
        height: 20px;
        table { width: 100%; height: 20px; }
        .point-column {
            vertical-align: middle;
            text-align: center;
            .point-num {
                font-weight: bold;
            }
            .point-icon {
                width: 20px;
                height: 20px;
                padding-right: 5px;
                background-image: url('/assets/web/point_icon.png'); 
                background-repeat: no-repeat;
                background-size: 15px 15px;
                background-position: center;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .menu-trigger-container {
        position: absolute;
        top: 5px;
        left: 5px;
        .menu-trigger, .menu-trigger span {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
        }
        .menu-trigger {
            position: relative;
            width: 20px;
            height: 18px;
            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border-radius: 2px;
                        
            }
        }
        .menu-trigger span:nth-of-type(1) {
            top: 0;
        }
        .menu-trigger span:nth-of-type(2) {
            top: 8px;
        }
        .menu-trigger span:nth-of-type(3) {
            bottom: 0;
        }
        .menu-trigger.active span:nth-of-type(1) {
            -webkit-transform: translateY(8px) rotate(-315deg);
            transform: translateY(8px) rotate(-315deg);
        }
        .menu-trigger.active span:nth-of-type(2) {
            opacity: 0;
        }
        .menu-trigger.active span:nth-of-type(3) {
            -webkit-transform: translateY(-8px) rotate(315deg);
            transform: translateY(-8px) rotate(315deg);
        }
    }
    .menu {
        position: absolute;
        width: 100%;
        opacity: 0.8;
        background-color: black;
        color: white;
        padding: 0px 20px 20px 20px;
        box-sizing: border-box;
        z-index: 1000;
        li {
            padding-top: 20px;
            a {
                color: white;
            }
        }
    }
}

header.authenticated {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.separator-wrapper {
    transition: opacity .5s linear;
    display: block;
    p {
        text-align: center;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        &:after, &:before {
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 40px;
            background: rgba(0,0,0,0.2);
            box-shadow: 0 1px 0 rgba(255,255,255,0.5);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

input[type="text"].form,
input[type="password"].form, 
textarea.form {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.38), 0 1px 3px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.38), 0 1px 3px rgba(0, 0, 0, 0.32);
    font-weight: bold;
    box-sizing: border-box;
}

input[type="text"].small-form,
input[type="password"].small-form,
textarea.small-form {
    padding: 3px 5px;
}

.user-register-form {
    padding: 15px;
    .social-buttons {
        .social-button {
            margin: 15px;
        }
    }
    .submit-button {
        text-align: center;
        margin-top: 15px;
    }
    .footer-description {
        margin-top: 20px;
        font-size: 12px;
        p { text-align: center; }
    }
}

.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    .loading-content {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-weight: bold;
        text-align: center;
        .loader {
            width: 128px;
            height: 128px;
        }
    }
}

.recommend-campaign {
    height: 70px;
    background-image: url('/assets/web/home_special_offer_banner.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    table {
        width: 100%;
        td {
            vertical-align: middle;
            height: 70px;
        }

    }
    .space-column {
        width: 10px;
        min-width: 10px;
    }
    .thumbnail-column {
        width: 50px;
        min-width: 50px;
        line-height: 0em;
        text-align: center;
        vertical-align: middle;
        img { width: 50px; height: 50px; }
    }
    .meta-column {
        max-width: 0px;
        font-size: 14px;
        vertical-align: middle;
        .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .description {
            color: #999;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .original-point-column {
        width: 30px;
        min-width: 30px;
        background-image: url('/assets/web/home_special_offer_banner_icon_original.png'); 
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
    }
    .arrow-icon-column {
        width: 20px;
        min-width: 20px;
        margin: 20px 0px;
        background-image: url('/assets/web/home_special_offer_banner_arrow.png'); 
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
    }
    .special-point-column {
        width: 40px;
        min-width: 40px;
        margin-right: 10px;
        background-image: url('/assets/web/home_special_offer_banner_icon_special.png'); 
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: center;
    }
    .special-point-column .point {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .original-point-column .point {
        color: white;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
}

.indicator {
    position: relative;
    overflow: hidden;
    ul {
        float: left;
        left: 50%;
        position: relative;
        .item {
            float: left;
            left: -50%;
            position: relative;
            opacity: 0.8;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #E1E1E3;
            margin: 0 5px;
            &.active {
                background-color: #5A5B5E;
            }
        }
    }
}
.campaign-slider {
    position: relative;
    .navi {
        position: absolute;
        top: 200px;
        img { width: 40px; height: 40px; }

        &.navi-left {
            left: 20px;
        }
        &.navi-right {
            right: 20px;
        }
    }
    .campaign {
        color: #5A5B5E;
        .name {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
        }
        .thumbnail {
            text-align: center;
        }
        .meta-container {
            margin: 10px 0px;
            table { 
                width: 100%;
                td { 
                    width: 33%;
                    height: 80px; 
                    text-align: center;
                    vertical-align: middle;
                    p { 
                        font-weight: bold;
                        font-size: 12px; 
                    }
                    .subtext {
                        font-weight: normal;
                        font-size: 10px; 
                    }
                }
            }
            .cost-column {
                background-image: url('/assets/web/point_main_icon.png'); 
                background-repeat: no-repeat;
                background-size: 80px 80px;
                background-position: center;
                .point-cost { font-size: 24px; }
            }
            .time-column {
                background-image: url('/assets/web/next_draw_main_icon.png'); 
                background-repeat: no-repeat;
                background-size: 80px 80px;
                background-position: center;
                .time { font-size: 24px; }
            }
            .ticket-column {
                background-image: url('/assets/web/ticket_main_icon.png'); 
                background-repeat: no-repeat;
                background-size: 80px 80px;
                background-position: center;
                .ticket-num { font-size: 24px; }
            }
            .photo-column {
                background-image: url('/assets/web/photo_main_icon.png'); 
                background-repeat: no-repeat;
                background-size: 80px 80px;
                background-position: center;
                .photo-num { font-size: 24px; }
            }
            .fortune-column {
                background-image: url('/assets/web/photo_main_icon_fortuneteller.png'); 
                background-repeat: no-repeat;
                background-size: 80px 80px;
                background-position: center;
            }
            .sticker-column {
                background-image: url('/assets/web/photo_main_icon_line.png'); 
                background-repeat: no-repeat;
                background-size: 80px 80px;
                background-position: center;
            }
        }
        .buttons {
            text-align: center;
        }
        .indicator-container {
            position: absolute;
            width: 100%;
            padding-top: 5px;
        }
    }
}

.action-buttons {
    .action-button {
        background-color: #5A5C5D;
        margin-bottom: 5px;
        table {
            width: 100%;
        }
        td {
            vertical-align: middle;
            height: 67px;
        }
        .icon-column {
            width: 80px;
            text-align: center;
            line-height: 0;
            .icon { width: 43.5px; height: 43.5px; }
        }
        .meta-column {
            width: 120px;
            color: white;
            text-align: center;
            .subtext { font-size: 12px; } 
            .point-num { font-size: 24px; font-weight: bold; } 
        }
        .complete-column {
            text-align: center;
            color: #5A5A5E;
            font-size: 24px;
            p {
                margin-left: -80px;
            }
        }
    }
    .action-button.appinstall {
        background-color: black;
        .icon-column {
            width: 117.5px;
            .icon { width: 117.5px; height: auto; }
        }
    }
    .action-button.winner {
        .wrapper { 
            background-image: url('/assets/web/past_winner_banner.png'); 
            background-repeat: no-repeat;
            background-size: 100% 67px;
            height:67px;
            line-height: 0px;
            .label {
                color: #5A5B5E;
                float: right;
                font-size: 24px;
                font-weight: bold;
                margin: 33px 20px;
            }
        }
    }
    .action-button.complete {
        background-color: #CECECE;
    }
}

#view-wrapper {
    min-height: 100%;
    height: 100%;
}

#view {
    position: relative;
    min-height: 100%;
    height: 100%;
}

#contents {
    padding: 49px 0px 40px 0px;
}

.list-item {
    border-bottom: 1px solid #ABACAE;
    height: 70px;
    box-sizing: border-box;
}

.information.list-item {
    border-bottom: 1px solid #ABACAE;
    min-height: 80px;
    box-sizing: border-box;
}

footer.authenticated {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    ul.menus {
        width: 100%;
        height: 40px;
        .menu, .first-menu, .last-menu  { 
            float: left; 
            background: linear-gradient(#474749, #39393B);
            width: 20%;
            line-height: 0; 
        }
        .menu, .last-menu { 
            border-left: 1px solid #333;
            box-sizing: border-box;
        }
        .first-menu {}
        .icon {
            height: 40px;
            display: block;
            background-size: 20px 20px;
            background-position: center;
            line-height: 0;
        }
        .menu.active, .first-menu.active, .last-menu.active {
            a {
                background-color: #2C2C2D;
            }
            .icon.home { background-image: url('/assets/web/bottom_menu_home_on.png'); background-repeat: no-repeat; }
            .icon.offer { background-image: url('/assets/web/bottom_menu_cpi_on.png'); background-repeat:  no-repeat; }
            .icon.ticket { background-image: url('/assets/web/bottom_menu_ticket_on.png'); background-repeat:  no-repeat; }
            .icon.information { background-image: url('/assets/web/bottom_menu_notification_on.png'); background-repeat:  no-repeat; }
            .icon.setting { background-image: url('/assets/web/bottom_menu_setting_on.png'); background-repeat:  no-repeat; }

        }
        .menu, .first-menu, .last-menu {
            .icon.home { background-image: url('/assets/web/bottom_menu_home_off.png'); background-repeat: no-repeat; }
            .icon.offer { background-image: url('/assets/web/bottom_menu_cpi_off.png'); background-repeat:  no-repeat; }
            .icon.ticket { background-image: url('/assets/web/bottom_menu_ticket_off.png'); background-repeat:  no-repeat; }
            .icon.information { background-image: url('/assets/web/bottom_menu_notification_off.png'); background-repeat:  no-repeat; }
            .icon.setting { background-image: url('/assets/web/bottom_menu_setting_off.png'); background-repeat:  no-repeat; }
        }
    }
}

.tickets {
    .notfound-icon {
        height: 200px;
        margin-top: 10px;
        background-image: url('/assets/web/tickets_notfound.png');
        background-size: 200px 200px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .ticket {
        .number { 
            font-size: 30px;
            font-weight: bold;
            float: left;
            color: #5A5C5C;
            margin: 15px 0px 0px 10px;
        }
        .icon { 
            float: left;
            width: 40px;
            height: 40px;
            margin: 15px 0px 0px 10px;
            background-image: url('/assets/web/ticket_icon_on.png');
            background-size: 40px 40px;
            background-repeat: no-repeat;
        }
    }
    .ticket.expired {
        .expired-icon {
            background-image: url('/assets/web/ticket_expire_icon.png');
            background-size: 139px 61px;
            background-repeat: no-repeat;
            background-position: center;
            height: 60px;
            position: relative;
            padding: 5px;
        }
        .number {
            color: #D9DADB;
        }
        .icon {
            background-image: url('/assets/web/ticket_icon_off.png');
        }
    }
}

.left-wrapper {
    float: left;
}

.right-wrapper {
    float: right;
}

.information-container {
    .information {
        .title {
            font-size: 16px;
            color: #5A5C5C;
            padding: 10px 10px 5px 10px;
        }
        div.title {
            font-size: 16px;
            color: #5A5C5C;
            padding: 10px 10px 5px 10px;
            max-width: 300px;
        }
        .published_at {
            font-size: 16px;
            color: #686A6B;
            padding: 5px 10px;
        }
        .icon {
            margin: 25px 20px 0px 0px;
            width: 17px;
            height: 17px;
            background-image: url('/assets/web/information_viewed_icon_on.png');
            background-size: 17px 17px;
            background-repeat: no-repeat;
        }
        .icon.viewed {
            background-image: url('/assets/web/information_viewed_icon_off.png');
        }
    }
}

.dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    width: 100%;
    height: 100%;
    >.dialog-container {
        display: table;
        width: 100%;
        height: 100%;
        >.dialog-inner {
            display: table-cell;
            vertical-align: middle;
            >.wrapper {
                margin: auto;
                background-color: white;
                width: 90%;
                display: table;
                >.header {
                    height: 50px;
                    background-color: #5A5B5E;
                    display: table-row;
                    >.header-inner {
                        vertical-align: middle;
                        display: table-cell;
                        word-break: break-all;
                        >.title {
                            color: white;
                            font-size: 18px;
                            font-weight: bold;
                            padding: 0px 10px;
                            text-align: center;
                        }
                    }
                }
                >.contents {
                    padding: 10px;
                    max-height: 350px;
                    overflow-y: auto;
                    >.body {
                        text-align: center;
                        word-break: break-all;
                        .attention {
                            margin: 5px 0px;
                            color: #5A5A5E;
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .subtext {
                            color: #BEC0C1;
                            font-weight: normal;
                            font-size: 14px;
                        }
                        .align-left {
                            text-align: left;
                        }
                        .bold {
                            font-weight: bold;
                        }
                        .small-text {
                            font-size: 12px;
                        }
                        .xsmall-text {
                            font-size: 10px;
                        }
                        .mail-icon {
                            height: 71px;
                            background-image: url('/assets/web/congrad_icon_fortune.png'); 
                            background-size: 161px 60px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .sticker-icon {
                            height: 71px;
                            background-image: url('/assets/web/vg_line_congard_icon.png'); 
                            background-size: 133px 73px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
                >.footer {
                    height: 50px;
                    background-color: #E3E4E5;
                    display: table-row;
                    >.footer-inner {
                        display: table-cell;
                        vertical-align: middle;
                        >.button {
                            color: #797B7E;
                            font-size: 18px;
                            font-weight: bold;
                            text-align: center;
                            padding: 0px 10px;
                        }
                        >.button.cancel {
                            background-color: #adaeb0;
                            color: white;
                        }
                    }
                }
                >.footer.column2 {
                    >.footer-inner {
                        .button {
                            width: 50%;
                            float: left;
                            line-height: 1em;
                            padding: 16px 0 !important;
                        }
                    }
                }
            }
        }
    }
}

.dialog.fixed-dialog {
    .wrapper {
        height: 370px;
        .contents {
            height: 250px; 
            .body {
            }
            .thumb {
                text-align:center;
                margin: 0 auto;
                width: 240px;
                height: 160px;
                margin-top: 10px;
            }
            .video { 
                text-align: center;
                margin-top: 10px;
                iframe { width: 100%; }
            }
        }
    }
}

#information-detail-dialog {
    .contents {
        .body {
            text-align: left;
        }
    }
}

.settings {
    .item {
        .label {
            height: 20px;
            font-size: 16px;
            color: #686A6B;
            padding: 10px 10px 5px 10px;
        }
        .value {
            height: 20px;
            font-size: 16px;
            font-weight: bold;
            color: #686A6B;
            padding: 5px 10px;
        }
        .input-value {
            padding: 0px;
            margin: 0 10px;
            input[type="text"], input[type="password"] {
                font-size: 16px;
            }
        }
        .arrow-icon {
            margin: 30px 20px 0px 0px;
            width: 12px;
            height: 12px;
            background-image: url('/assets/web/settings_arrow.png');
            background-size: 12px 12px;
            background-repeat: no-repeat;
        }
    }
    .label-item {
        .label {
            height: 20px;
            padding: 25px 10px;
        }
    }
    .caution-item {
        margin: 20px 0px;
        background-color: #ff6677;
        .label {
            color: white;
            text-align: center;
        }
    }
    .button-item {
        .value {
            text-align: center;
            padding: 10px;
        }
    }
}

.recover-password-form-container {
    color: #5A5A5E;
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    .recover-password-form {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 50px auto 0 auto;
        .content {
            margin: 0 auto;
            .caption {
                font-size: 18px;
                text-align: center;
                font-weight: bold;
            }
            .mail-input {
                margin: 30px;
            }
        }
        .content.complete {
            padding: 50px 0;
            .mail-icon {
                height: 65px;
                margin: 50px auto 30px auto;
                background-image: url('/assets/web/mail_icon.png'); 
                background-repeat: no-repeat;
                background-size: auto 65px;
                background-position: center;
            }
            .back-link {
                margin-top: 40px;
            }
        }
    }
}

.offers-container {
    .caption {
        background-color: #2C2C2E;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
    }
    .promotions {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        line-height: 0em;
        .promotion {
            display: inline;
            position: relative;
            .app-icon {
                width: 50px;
                height: 50px;
                padding: 10px;
            }
            .point-badge {
                position: absolute;
                top: 0;
                right: 0;
                margin-top: -55px;
                margin-right: 4px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
                .point {
                    display: block;
                    position: relative;
                    font-size: 8px;
                    margin: 1px;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    color: #fff;
                    line-height: 18px;
                    text-align: center;
                    background: -webkit-gradient(linear, left top, left bottom, from(#ee757b), to(#c80507));
                    background: -webkit-linear-gradient(top, #ee757b, #c80507);
                    background: linear-gradient(to bottom, #ee757b, #c80507);
                    background: gradient(linear, center top, center bottom, from(#ee757b), to(#c80507));
                }
            }
        }
    }
    .wall, .application, .video, .information {
        padding: 10px;
        color: #5A5C5C;
        border-bottom: 1px solid #ABACAE;
        box-sizing: border-box;
        table { width: 100%; }
        td {
            height: 50px;
            vertical-align: middle;
        }
        .thumbnail-column {
            width: 50px;
            min-width: 50px;
            img { width: 50px; height: 50px; }
        }
        .meta-column {
            max-width: 0px;
            padding: 0px 10px;
            font-size: 14px;
            .name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .description {
                color: #999;
            }
        }
        .point-column {
            width: 60px;
            min-width: 60px;
            text-align: center;
            .point {
                font-size: 30px;
                font-weight: bold;
                line-height: 1em;
            }
            .unit {
                line-height: 1em;
            }
        }
        .icon-column {
            width: 60px;
            min-width: 60px;
            background-image: url('/assets/web/download_icon.png'); 
            background-repeat: no-repeat;
            background-size: 36px 36px; 
            background-position: center; 
        }
    }
}

#description-dialog {
    .contents {
        text-align: center;
        .referral-code {
            font-size: 36px;
            font-weight: bold;
            margin: 10px 0px;
        }
        .ticket-number {
            color: #5A5C5C;
            font-weight: bold;
            font-size: 36px;
        }
        .got-ticket-icon {
            height: 71px;
            background-image: url('/assets/web/ticket_popup_icon.png'); 
            background-size: 65px 71px;
            background-position: center;
            background-repeat: no-repeat;
        }
        .social-buttons {
            margin-top: 10px;
            text-align: center;
            .item {
                display: inline;
                margin: 0 5px;
                a {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

#special-promotion-dialog {
    .header {
        background-color: none;
        height: auto;
        line-height: 0em;
    }
    .contents {
        .left-wrapper {
            width: 100%;
            margin-right: -50px;
        }
        .right-wrapper {
            width: 50px;
            text-align: center;
            margin-top: 10px;
        }
        >.title {
            font-size: 28px;
            color: #5A5B5E;
            font-weight: bold;
            text-align: center;
        }
        >.description {
            color: #5A5B5E;
            text-align: center;
        }
        >.countdown {
            color: red;
            font-size: 64px;
            font-weight: bold;
            text-align: center;
        }
        .buttons {
            text-align: center;
        }
        .tutorial {
            margin-top: 10px;
            text-align: center;
            img {
                width: 100%;
                max-width: 200px;
            } 
        }
    }
}

#recommended-offer-dialog {
    .contents {
        .body {
            .attention { margin-bottom: 20px; }
            .note { margin: 20px 0px; }
        }
    }
}

#special-promotion-dialog,
.delete-account-dialog {
    .offer {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
        table { width: 100%; }
        .thumbnail-column {
            width: 80px;
            height: 80px;
            img { width: 80px; height: 80px; }
        }
        .meta-column {
            vertical-align: middle;
            padding: 5px;
            .name {
                color: #5A5B5E;
                font-weight: bold;
                word-break: break-all;
            }
            .description {
                color: #999;
            }
        }
        .point-column {
            vertical-align: middle;
            .point-num {
                color: #5A5B5E;
                font-weight: bold;
                font-size: 32px;
            }
            .point_unit {
                font-weight: bold;
            }
        }
    }
}

#invitation-dialog {
    .contents {
        .title {
            color: #bfc0c2;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        .name {
            color: #5A5B5E;
            font-weight: bold;
            font-size: 28px;
            text-align: center;
        }
        .prize-item {
            text-align: center;
            margin-top: 10px;
            img {
                width: 306px;
                height: 176px;
            }
        }
        .inner-form {
            margin: 0 auto;
            padding: 10px;
             .buttons { text-align: center; }
        }
        .description { text-align: center; color: #666; }
    }
}

#ticket-apply-dialog {
    .body {
        .icon {
            height: 71px;
            background-size: 65px 71px;
            background-position: center;
            background-repeat: no-repeat;
        }
        .missing-information-icon {
            background-image: url('/assets/web/missing_information_popup_icon.png'); 
        }
        .apply-confirm-icon {
            background-image: url('/assets/web/confirm_entry_popup_icon.png'); 
        }
    }
}

#terms-dialog {
    .body {
        text-align: left;
        h1 { font-weight: bold; line-height: 1.5em; }
        h2 { font-weight: bold; line-height: 1.5em; }
        p { 
            line-height: 1.2em;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
    }
}

.delete-account-dialog {
    .footer {
        .footer-inner {
            .button.delete {
                color: white;
                background-color: #ff6677;
            }
        }
    }
}

#delete-account-step1-dialog {
    .contents {
        .body {
            .delete-icon {
                height: 55px;
                margin: 0 auto 10px auto;
                background-image: url('/assets/web/delete_account_icon.png'); 
                background-repeat: no-repeat;
                background-size: 63px 55px;
                background-position: center;
            }
            .attention {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
            }
            .note {
                margin-top: 20px;
                font-size: 12px;
                text-align: left;
            }
            .questions {
                text-align: left;
                .question {
                    font-size: 11px;
                }
            }
        }
    }
}

#delete-account-step2-dialog {
    .contents {
        .body {
            .attention {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
            }
            .offer-container {
                margin-top: 10px;
                background-color: #E6E7E8;
                .offer-icon {
                    height: 110px;
                    background-image: url('/assets/web/delete_account_picture.png'); 
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            } 
        }
    }
}

#delete-account-step3-dialog {
    .contents {
        .body {
            input {
                margin-top: 10px;
            }
        }
    }
}

#message-dialog {
    .body {
        text-align: center;
        p {
            color: #5A5A5E;
            font-weight: bold;
        }
        .point-num {
            font-size: 100px;
            font-weight: bold;
        }
        .description {
            margin-top: 10px;
            color: #BEC0C1;
            font-weight: normal;
            p { font-weight: normal; }
        }
    }
}

#dream_photo-more-dialog {
    .body {
        .description {
            color: #FAA840;
            font-size: 11px;
        }
        .navi-container {
            width: 100%;
            margin-top: 10px;
            td {
                vertical-align: middle;
            }
            .navi {
                width: 40px;
                .img {
                    width: 40px;
                }
            }
        }
    }
}

#dream_photo_apply-dialog {
    .contents {
        padding: 0;
        max-height: 370px;
        .body {
            section.step {
                >.header {
                    background-color: #F9A132;
                    color: white;
                    font-weight: bold;
                    border-bottom: 1px solid #AF8D62;
                    padding: 5px;
                    text-align: left;
                }
                >.contents {
                    padding: 5px 10px;
                    textarea {
                        width: 100%;
                        padding: 5px;
                        box-sizing: border-box;
                    }
                    .photo-type-container {
                        width: 100%;
                        td {
                            text-align: center;
                            width: 50%;
                        }
                        .face, .full_body {
                            width: 46px;
                            height: 65px;
                        }
                    }
                    .file-selector-container {
                        width: 100%;
                        td {
                            text-align: center;
                            vertical-align: middle;
                            width: 50%;
                        }
                        .preview {
                            .default {
                                width: 94px;
                                height: 63px;
                            }
                        }
                        .file-button-container {
                            background-color: #F9A132;
                            color: white;
                            border-bottom: 1px solid #AF8D62;
                            padding: 5px 10px;
                            width: 50px;
 
                            position: relative;
                            overflow: hidden;
                            margin: 0 auto;
                            input[type="file"] {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin: 0;
                                padding: 0;
                                font-size: 20px;
                                cursor: pointer;
                                opacity: 0;
                                filter: alpha(opacity=0);
                            }
                        }
                    }
                }
            }
        }
    }
}
.unregister-container {
    color: #5A5A5E;
    text-align: center;
    .title {
        margin: 20px;
        font-size: 24px;
        font-weight: bold;
    }
    .unregister-icon {
        height: 72px;
        margin: 30px auto;
        background-image: url('/assets/web/unsubscribing_icon.png'); 
        background-repeat: no-repeat;
        background-size: 82px 72px;
        background-position: center;
    }
    .note {
        margin: 10px;
        color: #BEC0C1;
    }
    .description {
        color: #BEC0C1;
    }
    .back-link {
        margin-top: 40px;
    }
}

.register-container {
    color: #5A5A5E;
    text-align: center;
    .mail-icon {
        height: 65px;
        margin: 50px auto 30px auto;
        background-image: url('/assets/web/mail_icon.png'); 
        background-repeat: no-repeat;
        background-size: auto 65px;
        background-position: center;
    }
    .attention {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    .back-link {
        margin-top: 40px;
    }
    .resend-container {
        margin-top: 50px;
    }
}

#index-controller {
    color: #5A5A5E;
    background-image: url('/assets/web/top/mweb_main_background.png');
    background-repeat: repeat-y;
    background-size: contain;
    section {
        color: #5A5A5E;
        text-align: center;
    }
    section.main {
        margin: 0 auto;
        margin-bottom: 20px;
        .title {
            font-size: 30px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 14px;
        }
        .signup-buttons {
        }
    }
    section.banners {
        padding-top: 5px;
        background-image: url('/assets/web/top/mweb_bar.png');
        background-repeat: repeat-y;
        background-size: contain;
        .past-winner {
            width: 100%;
            background-image: url('/assets/web/top/mweb_past_winner_banner.png');
            background-size: cover;
            margin-bottom: 5px;
            .meta {
                padding: 20px 0px;
                .label {
                    margin-right: 20px;
                    text-align: right;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
        .next-draw {
            width: 100%;
            position: relative;
            line-height: 0;
            .meta {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                color: white;
                font-weight: bold;
                .meta-inner {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    .label {
                        line-height: normal;
                        font-size: small;
                    }
                    .time {
                        line-height: normal;
                        font-size: x-large;
                    }
                    .date {
                        line-height: normal;
                        font-size: medium;
                    }
                }
            }
        }
        .howto {
            background-image: url('/assets/web/top/mweb_video_background.png');
            background-size: cover;
            padding: 30px;
            .label {
                color: white;
                padding: 5px;
            }
        }
    }
    section.step1,
    section.step2,
    section.step3,
    section.login,
    section.share {
        &:before {
            content: "";
            display:block;
            width: 100%;
            height: 5px;
            background-image: url('/assets/web/top/mweb_bar.png');
            background-repeat: repeat-y;
            background-size: cover;
        }
        .header {
            .title {
                font-size: 28px;
                font-weight: bold;
            }
            .sub-title {
                font-size: 16px;
                font-weight: bold;
            }
        }
        .contents {
            min-height: 260px;
            padding: 20px;
            .title {
                font-size: 28px;
                font-weight: bold;
            }
            .sub-title {
                font-size: 16px;
                font-weight: bold;
            }
            .note {
                font-size: 24px;
                color: #999;
                margin-top: 30px;
            }
        }
    }
    section.step1 {
        .social-buttons {
            margin-top: 60px;
            img { margin: 0 10px }
        }
    }
    section.step2 {
        color: white;
        background-image: url('/assets/web/top/mweb_video_background_2.png');
        background-size: cover;
        table {
            width: 100%;
            margin-top: 30px;
            td {
                width: 33%;
                height: 80px;
                .action-name {
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
    }
    section.step3 {
        .social-buttons {
            margin-top: 20px;
            p {
                margin: 5px auto;
                img {
                    width: 100%;
                    max-width: 306px;
                    max-height: 50px;
                }
            }
        }
    }
    section.login {
        color: white;
        background-image: url('/assets/web/top/mweb_entertowin_background.png');
        background-size: cover;
        background-position: center;

        .header {
            margin-top: 30px;
        }
        .signup-buttons {
            margin-top: 60px;
        }
    }
    section.share {
        padding: 0px;
        .header {
            background-color: #E2E2E5;
            padding: 5px;
            margin-bottom: 20px;
            .title {
                font-size: 18px;
                font-weight: bold;
            }
        }
        .contents {
            font-size: 16px;
        }
        .share-buttons {
            margin-top: 20px;
            .share-button {
                margin: 0px 5px;
            }
        }
    }
    section.footer {
        background-color: black;
        color: white;
        font-size: 10px;
        padding: 5px;
    }
}

.verify-container {
    text-align: center;
    .title {
        font-size: 30px;
        font-weight: bold;
        margin: 20px;
    }
    .icon {
        width: 100px;
        height: 100px;
    }
    .description {
        font-size: 20px;
        margin-top: 20px;
    }
    .note {
        margin-top: 50px;
    }
    .complete {
        .link {
            margin-top: 10px;
        }
    }
    .failed {
        .link {
            margin-top: 50px;
        }
    }
}

.flexslider {
    margin: 0;
    border: none;
    -webkit-border-radius: none; 
    -moz-border-radius: none; 
    border-radius: none; 
}

.custom-navigation {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding-top: 5px;
    .flex-control-nav {
        position: relative;
        overflow: hidden;
        bottom: 0;
    }
    .flex-direction-nav {
        position: absolute;
        top: 200px;
        width: 100%;
        .flex-nav-prev, .flex-nav-next {
            a {
                margin: 0;
            }
            .flex-prev {
                text-align: center;
                left: 10px;
                &:before { content: ""; }
            }
            .flex-next {
                text-align: center;
                right: 10px;
                &:before { content: ""; }
            }
        }
    }
}

#line_sticker_apply-dialog {
    .contents {
        padding: 0px;
        section {
            text-align: left;
            .header {
                background-color: #78787c;
                padding: 5px;
                color: white;
                font-weight: bold;
            }
            .contents {
                padding: 10px;
            }
        }
    }
}

/* ================================
* Style per Devices 
* ================================ */

@media 
screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71), // iPhone 5
screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2) // Nexus4
{
    .dialog {
        .wrapper {
            .contents {
                max-height: 400px !important;
            }
        }
    }
    .dialog.fixed-dialog {
        .wrapper {
            height: 420px !important;
            .contents {
                height: 300px !important; 
            }
        }
    }
}

@media 
screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) // iPhone 6
{
    header {
        .title {
            font-size: 26px;
            padding: 10px;
        }
        .sub-header {
            height: 30px;
            table { height: 30px; }
            .point-column {
                .point-icon {
                    width: 20px;
                    height: 20px;
                    background-size: 20px 20px;
                }
            }
        }
        .menu-trigger-container {
            position: absolute;
            top: 16px;
            left: 10px;
        }
    }
    footer.authenticated {
        height: 60px;
        ul.menus {
            height: 60px;
            .icon {
                height: 60px;
                background-size: 38px 38px;
            }
        }
    }
    #contents {
        padding: 82px 0px 60px 0px;
    }
    .dialog {
        .wrapper {
            .contents {
                max-height: 450px !important;
            }
        }
    }
    .dialog.fixed-dialog {
        .wrapper {
            height: 470px !important;
            .contents {
                height: 350px !important; 
            }
        }
    }
    #index-controller {
        section.banners {
            .past-winner {
                .meta {
                    margin: 28px 20px;
                    .label {
                        font-size: 26px;
                    }
                }
            }
            .next-draw {
                .meta {
                    .label {
                        font-size: 14px;
                    }
                    .time {
                        font-size: 32px;
                    }
                    .date {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


@media 
screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) // iPhone 6+
{
    header {
        .title {
            font-size: 26px;
            padding: 10px;
        }
        .sub-header {
            height: 30px;
            table { height: 30px; }
            .point-column {
                .point-icon {
                    width: 20px;
                    height: 20px;
                    background-size: 20px 20px;
                }
            }
        }
        .menu-trigger-container {
            position: absolute;
            top: 16px;
            left: 10px;
        }
    }
    footer.authenticated {
        height: 60px;
        ul.menus {
            height: 60px;
            .icon {
                height: 60px;
                background-size: 38px 38px;
            }
        }
    }
    #contents {
        padding: 82px 0px 60px 0px;
    }
    .dialog {
        .wrapper {
            .contents {
                max-height: 550px !important;
            }
        }
    }
    .dialog.fixed-dialog {
        .wrapper {
            height: 570px !important;
            .contents {
                height: 450px !important; 
            }
        }
    }
    #index-controller {
        section.banners {
            .past-winner {
                .meta {
                    margin: 30px 20px;
                    .label {
                        font-size: 28px;
                    }
                }
            }
            .next-draw {
                .meta {
                    .label {
                        font-size: 16px;
                    }
                    .time {
                        font-size: 36px;
                    }
                    .date {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
