<h1> Users </h1>

<div id="users-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>Name</th>
                <td>
                    <input type="text" ng-model="query.name" />
                </td>
            </tr>
            <tr>
            	<th>User ID (Account ID)</th>
                <td>
                    <input type="text" ng-model="query.account_id" />
                </td>
            </tr>
            <tr>
            	<th>Email</th>
                <td>
                    <input type="text" ng-model="query.email" />
                </td>
            </tr>
            <tr>
            	<th>Country</th>
                <td>
                    <input type="text" ng-model="query.country" />
                </td>
            </tr>
            <tr>
            	<th>Provider</th>
                <td>
                    <select ng-model="query.provider">
                    	<option value="">-----</option>
                    	<option value="vg">Viral Giveaway</option>
                    	<option value="facebook">Facebook</option>
                    	<option value="google_oauth2">Google+</option>
                    </select>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>AccountID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>Locale</th>
                <th>Provider</th>
                <th>Source</th>
                <th>VerifiedAt(GMT)</th>
                <th>CreatedAt(GMT)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in users" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td>{{ r.account_id }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.country }}</td>
                <td>{{ r.locale }}</td>
                <td>{{ r.provider }}</td>
                <td>{{ r.an_source }}</td>
                <td>{{ r.verified_at }}</td>
                <td>{{ r.created_at }}</td>
                <td>
                    <p>
                        <a href="#/users/edit?id={{ r.id }}">Edit</a> / 
                        <a href="javascript:void(0)" ng-click="grantPoint(r)">Grant Points</a>
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="10">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

