<h1 ng-if="user.id"> Users :: Edit :: {{ user.id }}</h1>
<div id="users-controller">
    <table class="edit">
        <tbody>
            <tr>
            	<th>AccountID</th>
                <td>{{ user.account_id }}</td>
            </tr>
            <tr>
            	<th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
            	<th>Birthdate</th>
                <td>{{ user.birthdate }}</td>
            </tr>
            <tr>
            	<th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
            	<th>Gender</th>
                <td>
                    <span ng-repeat="(k,v) in config.gender_map" ng-if="v == user.gender">{{ k }}</span>
                </td>
            </tr>
            <tr>
            	<th>Country</th>
                <td>
                    <input type="text" ng-model="user.country" />
                    <p>(Thailand: th, Singapore: sg, ALL: all, See: <a href="http://en.wikipedia.org/wiki/ISO_3166-1" target="_blank">Country Codes</a>)</p>
                </td>
            </tr>
            <tr>
            	<th>Loacle</th>
                <td>{{ user.locale }}</td>
            </tr>
            <tr>
            	<th>Notification</th>
                <td>{{ user.notification }}</td>
            </tr>
            <tr>
            	<th>UpdatedAt</th>
                <td>{{ user.updated_at }}</td>
            </tr>
            <tr>
            	<th>CreatedAt</th>
                <td>{{ user.created_at }}</td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

