
<style>

    img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
        
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        
        /* Set up positioning 
        position: fixed;
        top: 0;
        left: 0;*/

        z-index: -9999;
    }   
    
</style>

<div id="index-controller">
    <img src="/assets/web/vg_service_close_page.png" class="bg">    
</div>
<!--
<div id="index-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <section class="main">
        <div class="main-image">
            <div class="flexslider">
                <div class="custom-navigation">
                    <div class="custom-controls-container"></div>
                    <ul class="flex-direction-nav">
                        <li class="flex-nav-prev">
                            <a class="flex-prev" href="#"><img src="/assets/web/back_icon.png" width="40" height="40"/></a>
                        </li>
                        <li class="flex-nav-next">
                            <a class="flex-next" href="#"><img src="/assets/web/next_icon.png" width="40" height="40"/></a>
                        </li>
                    </ul>
                </div>
                <ul class="slides">
                    <li><img src="/assets/web/campaigns/vg_iphone_main_pic.png"/></li>
                    <li><img src="/assets/web/campaigns/vg_dream_photo_main_pic.png"/></li>
                    <li><img src="/assets/web/campaigns/vg_fortune_main_pic.png"/></li>
                    <li><img src="/assets/web/campaigns/vg_line_main_pic.png"/></li>
                </ul>
            </div>
        </div>

        <p class="title">DON'T YOU WANT IT?</p>
        <p class="sub-title">
            Simple tasks to earn points and win Prizes!<br/>
            Start today and win iPhone6 16GB silver!
        </p>

        <div class="signup-buttons">
            <a href="/#/login"><button class="large-button">Login</button></a> 
            <a href="/#/signup"><button class="large-button">Signup</button></a> 
        </div>
    </section>

    <section class="banners">
        <div class="container">
            <div class="contents">
                <div class="past-winner" ng-click="showWinnerDialog()">
                    <div class="meta">
                        <p class="label">Past Winner</p>
                    </div>
                </div>
                <div class="next-draw">
                    <img src="/assets/web/top/mweb_next_draw_banner.png" />
                    <div class="meta">
                        <p class="meta-inner">
                            <span class="label">Next Draw in:</span><br/>
                            <span class="time">{{ next_time }}</span><br/>
                            <span class="date">{{ next_day }} DAYS</span>
                        </p>
                    </div>
                </div>
                <div class="howto" ng-hide="true">
                    <p class="label">How to Win the Massive Prize</p>
                    <img src="/assets/web/top/mweb_video_pic.png" />
                </div>
            </div>
        </div>
    </section>

    <section class="step1">
        <div class="container">
            <div class="contents">
                <p class="title">Get started</p>
                <p class="sub-title">Create Your Account</p>
                <div class="social-buttons">
                    <img src="/assets/web/top/mweb_step1_fb_icon.png" width="50" height="50" />
                    <img src="/assets/web/top/mweb_step1_google_icon.png" width="50" height="50" />
                    <img src="/assets/web/top/mweb_step1_mail_icon.png" width="50" height="50" />
                </div>
                <p class="note">~ Easy, Free, Simple ~</p>
            </div>
        </div>
    </section>

    <section class="step2">
        <div class="container">
            <div class="contents">
                <p class="title">Enter the Draw</p>
                <p class="sub-title">Complete simple tasks</p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p><img src="/assets/web/top/mweb_step2_cpi.png" width="50" height="50" /><p>
                                <p class="action-name">APP INSTALL</p>
                            </td>
                            <td>
                                <p><img src="/assets/web/top/mweb_step2_login.png" width="50" height="50" /><p>
                                <p class="action-name">Daily Login</p>
                            </td>
                            <td>
                                <p><img src="/assets/web/top/mweb_step2_facebook.png" width="50" height="50" /><p>
                                <p class="action-name">SHARE on FB</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><img src="/assets/web/top/mweb_step2_twitter.png" width="50" height="50" /><p>
                                <p class="action-name">SHARE on TWITTER</p> 
                            </td>
                            <td>
                                <p><img src="/assets/web/top/mweb_step2_referral.png" width="50" height="50" /><p>
                                <p class="action-name">Referral Bonus</p> 
                            </td>
                            <td>
                                <p><img src="/assets/web/top/mweb_step2_action.png" width="50" height="50" /><p>
                                <p class="action-name">Action Bonus</p> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="step3">
        <div class="container">
            <div class="contents">
                <p class="title">Follow Us</p>
                <p class="sub-title">Special offers available</p>
                <div class="social-buttons">
                    <p><a href="https://www.facebook.com/pages/Viral-Giveaway/823735791015041" target="_blank"><img src="/assets/web/top/mweb_step3_fb_banner.png" /></a></p>
                    <p><a href="https://twitter.com/viral_giveaway" target="_blank"><img src="/assets/web/top/mweb_step3_twitter_banner.png" /></a></p>
                    <p ng-hide="true"><a href="https://www.youtube.com/channel/UCYYgNQPekSAaZpcqPEqoIBA" target="_blank"><img src="/assets/web/top/mweb_step3_youtube_banner.png" /></a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="login">
        <div class="container">
            <div class="contents">
                <p class="title">ENTER & WIN</p>
                <p class="title">iPhone 6</p>

                <div class="signup-buttons">
                    <a href="/#/login"><button class="large-button">Login</button></a> 
                    <a href="/#/signup"><button class="large-button">Signup</button></a> 
                </div>
            </div> 
        </div>
    </section>

    <section class="share">
        <div class="container">
            <div class="header">
                <p class="title">Let it Get VIRAL</p>
            </div>
            <div class="contents">
                <p>Would you like to spread the news</p>
                <p>about this</p>
                <p>Massive Giveaway?</p>
                <br/>
                <p>Simply Tap Your Preferred Choice</p>
                <p>and share it to your friends!</p>
                <div class="share-buttons">
                    <a href="http://line.me/R/msg/text/?{{ 'Giveaway is on the way! Free weekly iPhone 6 for FREE! https://viral-giveaway.com/?source=line' |encodeURI }}" target="_blank" class="share-button"><img src="/assets/web/top/mweb_social_media_icon_line.png" width="50" height="50"/></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ 'https://viral-giveaway.com/?source=facebook' |encodeURI }}" target="_blank" class="share-button"><img src="/assets/web/top/mweb_social_media_icon_fb.png" width="50" height="50"/></a>
                    <a href="https://twitter.com/share?text={{ 'Giveaway is on the way! Free weekly iPhone 6 for FREE! #ViralGiveaway' |encodeURI }}&amp;url={{ 'https://viral-giveaway.com/?source=twitter' |encodeURI }}" target="_blank" class="share-button"><img src="/assets/web/top/mweb_social_media_icon_twitter.png" width="50" height="50"/></a>
                    <a href="whatsapp://send?text={{ 'Giveaway is on the way! Free weekly iPhone 6 for FREE! https://viral-giveaway.com/?source=whatsapp' |encodeURI }}" data-action="share/whatsapp/share" class="share-button"><img src="/assets/web/top/mweb_social_media_icon_whatsapp.png" width="50" height="50"/></a>
                </div> 
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="contents">
                <p>&copy;2015. viral-giveaway.com. All rights Reserved</p>
                <p>info@viral-giveaway.com</p>
            </div>
        </div>
    </section>

    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>

<script type="text/javascript">
    $(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            controlsContainer: $(".custom-controls-container"),
            customDirectionNav: $(".custom-navigation a"),
            slideshowSpeed: 3000,
        });
    });
</script>
-->
