<div id="register-complete-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <div class="register-container">
    
        <div class="mail-icon"></div>

        <p class="attention">Confirmation Email</p>
        <p class="attention">is sent to the</p>
        <p class="attention">registered Email address.</p>

        <p class="resend-container">
            <p>If not receive email please re-send.</p>
            <p><button class="large-button" ng-click="showResendDialog()">Resend</button></p>
        </p>

        <p class="back-link">
            <a href="/#/">Home</a>
        </p>

    </div>

    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>

<div id="resend-dialog" class="dialog" ng-show="resendDialog != null">
    <div class="dialog-container">
        <div class="dialog-inner">
            <div class="wrapper">
                <div class="header">
                    <div class="header-inner">
                        <p class="title">Resend</p>
                    </div>
                </div>
                <div class="contents">
                    <div class="body">
                        <p class="attention">Enter your Email</p>
                        <p>
                        	<input type="text" class="form small-form" ng-model="resend.email" placeholder="EMAIL" />
                        </p>
                    </div>
                </div>
                <div class="footer column2">
                    <div class="footer-inner">
                        <p class="button cancel" ng-click="hideResendDialog()">CANCEL</p>
                        <p class="button" ng-click="doResend()">OK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

