<div id="unregister-complete-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <div class="unregister-container">
        <p class="title">Unsubscribing?</p>
        
        <div class="unregister-icon"></div>

        <p class="ntoe">We're Sad to See You Go!</p>

        <p class="description">But if you must, we'll remove your name from our list.</p>
        <p class="description">Don't be a stranger, though..</p>

        <p class="back-link">
        	<a href="/#/">Home</a>
        </p> 
    </div>

    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>
