<h1> DreamPhotos </h1>

<div id="logs-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Completed</th>
                <td>
                    <label for="completed_none">NONE</label> <input type="radio" ng-model="query.completed"  ng-value="" id="completed_none"/>
                    <label for="completed_on">ON</label> <input type="radio" ng-model="query.completed"  ng-value="1" id="completed_on"/>
                    <label for="completed_off">OFF</label> <input type="radio" ng-model="query.completed"  ng-value="0" id="completed_off"/>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Photo</th>
                <th>Base Photo</th>
                <th>Result Photo</th>
                <th>Billing Status</th>
                <th>CompletedAt</th>
                <th>CreatedAt</th>
                <th>Action</th>
             </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in dream_photos" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td><img ng-src="{{r.user_photo_url}}" width="100" ng-show="r.user_photo_url != ''" /></td>
                <td><img ng-src="{{r.base_photo_url}}" width="100" ng-show="r.base_photo_url != ''" /></td>
                <td><img ng-src="{{r.result_photo_url}}" width="100" ng-show="r.result_photo_url != ''" /></td>
                <td>
                    <span ng-repeat="(k,v) in config.billing_status_map" ng-if="v == r.billing_status">{{ k }}</span>
                </td>
                <td>{{ r.completed_at }}</td>
                <td>{{ r.created_at }}</td>
                <td>
                    <a href="/#/dream_photos/edit?id={{r.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="8">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>

</div>

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker({ timepicker: false, format: 'Y-m-d' });
    });
</script>
