<h1> DreamPhotos :: Edit :: {{ dream_photo.id }}</h1>
<div id="dream_photos-controller">
    <table class="edit">
        <tbody>
            <tr>
            	<th>AccountID</th>
                <td>{{ dream_photo.user.account_id }}</td>
            </tr>

            <tr>
            	<th>Billing Status</th>
                <td>
                    <span ng-repeat="(k,v) in config.billing_status_map" ng-if="v == dream_photo.billing_status">{{ k }}</span>
                    Please procedure when billing status "none" or "complete".
                </td>
            </tr>
            <tr>
            	<th>Photo Type</th>
                <td>
                    <img src="assets/web/face_on.png" width="50" ng-show="dream_photo.photo_type == 1" />
                    <img src="assets/web/fullbody_on.png" width="50" ng-show="dream_photo.photo_type == 2" />
                </td>
            </tr>
            <tr>
            	<th>User Idea</th>
                <td>{{ dream_photo.comment }}</td>
            </tr>

            <tr>
            	<th>User Photo</th>
                <td>
                    <img ng-src="{{ dream_photo.user_photo_url }}" width="250" />
                </td>
            </tr>
             <tr>
            	<th>Base Photo</th>
                <td>
                    <img ng-src="{{ dream_photo.base_photo_url }}" width="250" />
                </td>
            </tr>
            <tr>
            	<th>Result Photo</th>
                <td>
                    <input type="file" accept="image/*" onchange="angular.element(this).scope().showPhotoPreview('result')" /><br/>
                    <canvas id="preview-result" ng-show="dream_photo.result_data != null"></canvas>
                    <img ng-src="{{ dream_photo.result_photo_url }}" width="250" ng-show="dream_photo.result_photo_url != ''" />
                </td>
            </tr>
            <tr>
            	<th>CompletedAt</th>
                <td>{{ dream_photo.completed_at }}</td>
            </tr>
            <tr>
            	<th>CreatedAt</th>
                <td>{{ dream_photo.created_at }}</td>
            </tr>

        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

