<table st-table="displayRows" st-safe-src="logs" class="data fix-header table table-striped">
    <thead>
        <tr>
            <th st-ratio="11.11" st-sort="date">Date</th>
            <th st-ratio="11.11" st-sort="source">Source</th>
            <th st-ratio="11.11" st-sort="access">Access</th>
            <th st-ratio="11.11" st-sort="register">Register</th>
            <th st-ratio="11.11" st-sort="facebook_like">FB Like</th>
            <th st-ratio="11.11" st-sort="facebook_share">FB Share</th>
            <th st-ratio="11.11" st-sort="twitter_share">TW Share</th>
            <th st-ratio="11.11" st-sort="twitter_follow">TW Follow</th>
            <th st-ratio="11.11" st-sort="cpi">CPI</th>
        </tr>
        <tr>
            <th st-ratio="11.11">
                <input st-search="date" placeholder="search for date" class="input-sm form-control" ng-model="query.filter_date" type="search" />
            </th>
            <th st-ratio="11.11">
                <input st-search="source" placeholder="search for source" class="input-sm form-control" ng-model="query.filter_source" type="search" />
            </th>
            <th st-ratio="11.11"></th>
            <th st-ratio="11.11"></th>
            <th st-ratio="11.11"></th>
            <th st-ratio="11.11"></th>
            <th st-ratio="11.11"></th>
            <th st-ratio="11.11"></th>
            <th st-ratio="11.11"></th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="r in displayRows">
            <td st-ratio="11.11">{{ r.date }}</td>
            <td st-ratio="11.11">{{ r.source }}</td>
            <td st-ratio="11.11">{{ r.access }}</td>
            <td st-ratio="11.11">{{ r.register }}</td>
            <td st-ratio="11.11">{{ r.facebook_like |number }}</td>
            <td st-ratio="11.11">{{ r.facebook_share |number }}</td>
            <td st-ratio="11.11">{{ r.twitter_share |number }}</td>
            <td st-ratio="11.11">{{ r.twitter_follow |number }}</td>
            <td st-ratio="11.11">{{ r.cpi |number }}</td>
    	</tr>
    </tbody>
    <tfoot class="summary">
    	<tr>
    		<th st-ratio="11.11"></th>
    		<th st-ratio="11.11"></th>
            <th st-ratio="11.11"><st-sum column="access"></st-sum></th>
            <th st-ratio="11.11"><st-sum column="register"></st-sum></th>
            <th st-ratio="11.11"><st-sum column="facebook_like"></st-sum></th>
    		<th st-ratio="11.11"><st-sum column="facebook_share"></st-sum></th>
    		<th st-ratio="11.11"><st-sum column="twitter_share"></st-sum></th>
    		<th st-ratio="11.11"><st-sum column="twitter_follow"></st-sum></th>
    		<th st-ratio="11.11"><st-sum column="cpi"></st-sum></th>
    	</tr>
    </tfoot>
</table>
