<table st-table="displayRows" st-safe-src="logs" class="data fix-header table table-striped">
    <thead>
        <tr>
            <th st-ratio="25" st-sort="date">Date</th>
            <th st-ratio="25" st-sort="mau">MAU</th>
            <th st-ratio="25" st-sort="user_num">Users</th>
            <th st-ratio="25" st-sort="mau_percent">MAU(%)</th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="r in displayRows">
            <td st-ratio="25">{{ r.date }}</td>
            <td st-ratio="25">{{ r.mau |number }}</td>
            <td st-ratio="25">{{ r.user_num |number }}</td>
            <td st-ratio="25">{{ r.mau_percent |number }}</td>
    	</tr>
    </tbody>
    <tfoot class="summary">
    	<tr>
    		<th st-ratio="25"></th>
            <th st-ratio="25"><st-avg column="mau"></st-avg></th>
    		<th st-ratio="25"><st-avg column="user_num"></st-avg></th>
    		<th st-ratio="25"><st-avg column="mau_percent"></st-avg></th>
    	</tr>
    </tfoot>
</table>
