<h1> Logs </h1>

<div id="logs-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>Log Type</th>
                <td>
                    <select ng-model="query.log">
                    	<option value="">-----</option>
                        <option value="{{ k }}" ng-repeat="(k,v) in config.log_type_label_map" ng-selected="k == query.log">{{ v }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>Date</th>
                <td>
                    <input type="text" ng-model="query.from_at" class="datepicker" />
                     &lt;= x &lt; 
                     <input type="text" ng-model="query.to_at" class="datepicker" />
                     <button ng-click="setRecentDays(7)">7 Days</button>
                     <button ng-click="setRecentDays(30)">30 Days</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <ng-include src="view"></ng-include>
</div>

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker({ timepicker: false, format: 'Y-m-d' });
    });
</script>
