<div id="offers-controller">
    <ng-include src="'assets/web/includes/authenticated_header.html'"></ng-include>

    <div id="contents">
        <div class="offers-container">

            <div class="promotion-container" ng-show="promotions.length > 0">
                <div class="offers promotions">
                    <div class="offer promotion" ng-repeat="o in promotions" ng-click="showApp(o)">
                        <img ng-src="{{ o.app_icon_url | ssl_image }}" class="app-icon" />
                        <p class="point-badge">
                            <span class="point">{{ o.point }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="wall-container" ng-show="walls.length > 0">
                <p class="caption">APPLICATION WALL</p>
                <div class="offers walls">
                    <div class="offer wall list-item clearfix" ng-repeat="o in walls">
                        <table>
                        	<tbody>
                        		<tr>
                                    <td class="thumbnail-column">
                                        <img ng-src="{{ o.cover_image_url }}" />
                                    </td>
                                    <td class="meta-column">
                                        <p class="name">{{ o.name }}</p>
                                        <p class="description">Download and Start</p>
                                    </td>
                                    <td class="icon-column">
                                    </td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="application-container" ng-show="applications.length > 0">
                <p class="caption">APPLICATION</p>
                <div class="offers applications">
                    <div class="offer application list-item clearfix" ng-repeat="o in applications" ng-click="showApp(o)">
                        <table>
                        	<tbody>
                        		<tr>
                                    <td class="thumbnail-column">
                                        <img ng-src="{{ o.app_icon_url | ssl_image }}" />
                                    </td>
                                    <td class="meta-column">
                                        <p class="name">{{ o.name }}</p>
                                        <p class="description">Download and Start</p>
                                    </td>
                                    <td class="point-column">
                                        <p class="point" ng-class="{'special': o.special}">{{ o.point }}<p>
                                        <p class="unit">Points</p>
                                    </td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="information-container" ng-show="information.length > 0">
                <p class="caption">INFORMATION</p>
                <div class="offers information">
                    <div class="offer info list-item clearfix" ng-repeat="o in information" ng-click="showVideo(o)">
                        <table>
                        	<tbody>
                        		<tr>
                                    <td class="thumbnail-column">
                                        <img ng-src="{{ o.cover_image_url }}" />
                                    </td>
                                    <td class="meta-column">
                                        <p class="name">{{ o.name }}</p>
                                        <p class="description">{{ o.description }}</p>
                                    </td>
                                    <td class="icon-column">
                                    </td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="video-container" ng-show="videos.length > 0">
                <p class="caption">VIDEO</p>
                <div class="offers videos">
                    <div class="offer video list-item clearfix" ng-repeat="o in videos" ng-click="showVideo(o)">
                        <table>
                        	<tbody>
                        		<tr>
                                    <td class="thumbnail-column">
                                        <img ng-src="{{ o.cover_image_url }}" />
                                    </td>
                                    <td class="meta-column">
                                        <p class="name">{{ o.name }}</p>
                                        <p class="description">{{ o.description }}</p>
                                    </td>
                                    <td class="icon-column">
                                    </td>
                        		</tr>
                        	</tbody>
                        </table>
                   </div>
                </div>
            </div>

        </div>
    </div>

    <ng-include src="'assets/web/includes/authenticated_footer.html'"></ng-include>
</div>
