<table style="width:100%;">
  <tbody>
    <% promotion_offers.each_with_index do |o, idx| %>
    <tr>
      <td style="width:70px;vertical-align:top;box-sizing:border-box;">
        <img src="<%= o.app_icon_url %>" style="border:none;padding:0px 10px;" width="50" height="50"/>
      </td>
      <td style="padding:0px 10px;vertical-align:top;margin-bottom:20px;box-sizing:border-box;">
        <p style="margin:0px;"><span style="color:#125FAD;font-size:large;"><%= o.humanized_payment() %> Points!!</span> (From <%= o.humanized_provider_payment() %> Points)</p>
        <p><%= o.name %> - Download and Start</p>
        <p>
          <a href="<%= Rails.application.config.verify_host %>/#/home?rid=<%= o.id %>" style="background-color:#125FAD;color:white;text-decoration:none;padding:10px 20px;border-radius:10px;-webkit-border-radius:10px;box-sizing:border-box;display:inline-block;">Install NOW</a>
      </p>
      </td>
    </tr>
    <% if idx < promotion_offers.length - 1  %>
    <tr>
      <td colspan="2">
        <div style="margin: 20px 0;border-bottom:1px solid #E7E7E7;">&nbsp;</div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
