<%= render :partial => 'mail/notice', :locals => { title: "One step away to win amazing prizes!", subtitle: "Take your first action today to enter into the exciting prize draw!" } %>

<%= render :partial => 'mail/section_title', :locals => { title: 'Time to take the first action!' } %>

<div style="padding:10px;">
  <p>Sad to see you haven't entered into our amazing prize draw!! You don't want iPhone6 16GB Silver anymore? Winning the Free iPhone6 16GB Silver is just one step away!</p>

  <p>Take your first action today and redeem tickets to enter into the massive prize draw for the chance to win iPhone6 16GB Silver today!</p>
</div>

<% if @promotion_offers.present? and @promotion_offers.length > 0 %>
<%= render :partial => 'mail/section_title', :locals => { title: "Don't miss out to earn your extra points!!" } %>
<%= render :partial => 'mail/promotion_offers', :locals => { promotion_offers: @promotion_offers } %>
<% end %>
