<%= render :partial => 'mail/notice', :locals => { title: "Secret to increase the chance to WIN", subtitle: "Little secrets to increase your chance to win the awesome prizes!" } %>

<%= render :partial => 'mail/section_title', :locals => { title: 'More efficient way to earn more points?' } %>

<div style="padding:10px;">
  <p>We receive numbers of complaints from our user for us not telling a very simple fact to increase the chance to win.</p>

  <p>We offer in average of 10 times more points for taking CPI action which is, install and play our recommended application.</p>

  <p>Below is our most recommended (highest payout) for you to try and see how efficient to earn points with CPI option. Take advantage of CPI and win the awesome iPhone6 16GB Silver today!</p>
</div>

<% if @promotion_offers.present? and @promotion_offers.length > 0 %>
<%= render :partial => 'mail/section_title', :locals => { title: "Don't miss out to earn your extra points!!" } %>
<%= render :partial => 'mail/promotion_offers', :locals => { promotion_offers: @promotion_offers } %>
<% end %>
