<%= render :partial => 'mail/notice', :locals => { title: "Here comes the good news!", subtitle: "Fresh apps for you to install and earn more points!" } %>

<%= render :partial => 'mail/section_title', :locals => { title: "Take advantage of our latest arrivals (STOCK IS LIMITED)" } %>

<div style="padding:10px;">
  <p>We are glad to announce you that we have more fresh apps available to install! But please be aware as new apps has many demands this app may not be available for you tomorrow, so please take action before it ends and WIN the Massive Prize! (current prize: iPhone6 16GB Silver)</p>
</div>

<% if @promotion_offers.present? and @promotion_offers.length > 0 then %>
<%= render :partial => 'mail/section_title', :locals => { title: "Don't miss out to earn your extra points!!" } %>
<%= render :partial => 'mail/promotion_offers', :locals => { promotion_offers: @promotion_offers } %>
<% end %>
