<%= render :partial => 'mail/notice', :locals => { title: "", subtitle: "" } %>

<% if promotion_offers.present? and promotion_offers.length > 0 %>
<%= render :partial => 'mail/section_title', :locals => { title: "Don't miss out to earn your extra points!!" } %>
<%= render :partial => 'mail/promotion_offers', :locals => { promotion_offers: @promotion_offers } %>
<% end %>
