<%= render :partial => 'mail/notice', :locals => { title: "Congratulations!!", subtitle: "You got Dream Photo!" } %>

<div style="padding:10px;">
  <p>Your Dream Photo has been attached on this email!</p>
</div>
