<div style="padding:10px;">
  <p>Your fortune-telling has arrived!!!.<br/>
  Please check your day below and Good Luck.</p><br/>

  <span style="margin-bottom:0px !important;padding-bottom:0px !important;font-weight:bold;">Total:</span>
  <p><%= @result.total_text_en %></p>

  <span style="margin-bottom:0px !important;padding-bottom:0px !important;font-weight:bold;">Love: <%= (1..@result.love_point_5a).map{'★'}.join('') %></span>
  <p><%= @result.love_text_en %></p>

  <span style="margin-bottom:0px !important;padding-bottom:0px !important;font-weight:bold;">Money: <%= (1..@result.money_point_5a).map{'★'}.join('') %></span>
  <p><%= @result.money_text_en %></p>

  <span style="margin-bottom:0px !important;padding-bottom:0px !important;font-weight:bold;">Work: <%= (1..@result.work_point_5a).map{'★'}.join('') %></span>
  <p><%= @result.work_text_en %></p>

  <p><strong>Lucky Direction:</strong> <%= @result.lucky_direction_en %></p>
  <p><strong>Lucky Number:</strong> <%= @result.lucky_number %></p>
  <p><strong>Lucky Color:</strong> <%= @result.lucky_color_en %></p>
  <p><strong>Lucky Person:</strong> <%= @result.lucky_person_en %></p>
  <p><strong>Lucky Place:</strong> <%= @result.lucky_place_en %></p>
</div>
