<%= render :partial => 'mail/notice', :locals => { title: "WooHoo! You have earned more points!", subtitle: "Congratulations for successfully completing the mission!" } %>

<%= render :partial => 'mail/section_title', :locals => { title: "Keep up the fantastic work!" } %>

<div style="padding:10px;">
  <p>You just earned <%= point %> by <%= I18n.t("mail.action_#{action.to_s}") %> Since you are keeping up the good work, please take our special offer (LIMITED TIME ONLY!) to win the massive prize (current prize: iPhone6 16GB Silver)</p>
</div>

<% if promotion_offers.present? and promotion_offers.length > 0 then %>
<%= render :partial => 'mail/section_title', :locals => { title: "Don't miss out to earn your extra points!!" } %>
<%= render :partial => 'mail/promotion_offers', :locals => { promotion_offers: promotion_offers } %>
<% end %>
