<%= render :partial => 'mail/notice', :locals => { title: "Password Recovery", subtitle: "Please keep your newly generated password safe" } %>

<%= render :partial => 'mail/section_title', :locals => { title: "New password is generated" } %>

<div style="padding:10px;">
  <p>Thank you for participating in a exciting giveaway, we generated a new password for you to login to the service!</p>

  <p><strong><%= new_password %></strong></p>

  <p>You can change your password from setting page after you login.</p>
</div>
