<%= render :partial => 'mail/notice', :locals => { title: "We are pleasure to have you in the community!", subtitle: "You made an excellent choice to win gorgeous prizes!" } %>

<%= render :partial => 'mail/section_title', :locals => { title: 'Earn more points in “Welcome Period”' } %>

<div style="padding:10px;">
  <p>We would like to send you a warn regards and welcoming you to the exciting giveaway community. Please take advantage of our special promotion to earn more points and WIN the massive prize today! (current prize: iPhone6 16GB Silver)</p>
</div>

<% if promotion_offers.present? and promotion_offers.length > 0 %>
<%= render :partial => 'mail/section_title', :locals => { title: "Don't miss out to earn your extra points!!" } %>
<%= render :partial => 'mail/promotion_offers', :locals => { promotion_offers: promotion_offers } %>
<% end %>
