<%= render :partial => 'mail/notice', :locals => { title: "Verification Required", subtitle: "Your action is required to complete the registration." } %>

<%= render :partial => 'mail/section_title', :locals => { title: "Title: Verify to complete the registration" } %>

<div style="padding:10px;">
  <p>Click the link below to confirm your email address!</p>
  
  <p><a href="<%= Rails.application.config.verify_host %>/#/users/verify?id=<%= verify_id %>&code=<%= verify_code %>"><%= Rails.application.config.verify_host %>/#/users/verify?id=<%= verify_id %>&code=<%= verify_code %></a></p>
</div>

