<p>Hi!</p>

<p>We are re-sending you the verification email.</p>

<p>(Please disregard the original verification link in case you receive it later)</p>

<p>Please verify your email by clicking the link below.</p>

<p><a href="<%= Rails.application.config.verify_host %>/#/users/verify?id=<%= verify_id %>&code=<%= verify_code %>"><%= Rails.application.config.verify_host %>/#/users/verify?id=<%= verify_id %>&code=<%= verify_code %></a></p>

<p>If you receive this email in error, please disregards this email or report to info@viral-giveaway.com for support.</p>
