<div style="padding:10px;">
  <p>Hi,</p>

  <p>Thanks for using Viral Giveaway.</p>

  <p>Your account is now deactivated and removed from the database.</p>

  <p>But Please don't be a stranger, please come back to check some updates from us!</p>
</div>
