<h1> Messages :: <a href="#/messages/new">New</a> </h1>
<div id="messages-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>User ID ( Account ID )</th>
                <td>
                    <input type="text" ng-model="query.account_id" />
                </td>
            </tr>
             <tr>
            	<th>Type</th>
                <td>
                    <select ng-model="query.type">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.message_type_map" ng-selected="v == query.type">{{ k }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ( ID )</th>
                <th>Type</th>
                <th>ViewedAt</th>
                <th>CreatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in messages" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td><a href="/#/users/edit?id={{ r.user.id }}">{{ r.user.name }} ( {{ r.user.account_id }} )</a></td>
                <td>
                    <span ng-repeat="(k,v) in config.message_type_map" ng-if="v == r.type">{{ k }}</span>
                </td>
                <td>{{ r.viewed_at }}</td>
                <td>{{ r.created_at }}</td>
                <td>
                    <a href="#/messages/edit?id={{ r.id }}">Edit</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="8">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>


</div>
