<h1 ng-if="message.id"> Messages :: Edit :: {{ message.id }}</h1>
<h1 ng-if="!message.id"> Messages :: New </h1>
<div id="messages-controller">
    <table class="edit">
    	<tbody>
            <tr>
            	<th>User AccountID</th>
                <td>
                    <p>{{ message.user.name }}</p>
                    <input type="text" ng-model="message.user_account_id" />
                </td>
            </tr>
            <tr>
    			<th>Type</th>
                <td>
                    <select ng-model="message.type" ng-if="!message.id">
                        <option value="{{ v }}" ng-repeat="(k,v) in config.message_type_map">{{ k }}</option>
                    </select>
                    <div ng-if="message.id">
                        <span ng-repeat="(k,v) in config.message_type_map" ng-if="v == message.type">{{ k }}</span>
                    </div>
                </td>
            </tr>
            <tr>
            	<th>Title</th>
                <td>
                    <input type="text" ng-model="message.title" />
                </td>
            </tr>
            <tr>
            	<th>Content</th>
                <td>
                    <input type="text" ng-model="message.content" />
                </td>
            </tr>
            <tr>
            	<th>TicketNum</th>
                <td>
                    <input type="text" ng-model="message.point_num" />
                </td>
            </tr>
        </tbody>
    </table>


    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
