<h1> {{ newsPickTitle }} :: <a href="#/news_multiple/new" target="_blank">{{ createText }}</a> :: Result :  {{newsMultiple.length}} :: From Total : {{all_count}}</h1>
<div id="news_multiple-controller">
	 <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Search</th>
                <td>
                    <input ng-type="text" ng-model="query.search_text" value="{{query.news_url}}" />
                </td>
            </tr>
            <tr>
                <th>News search</th>
                <td>
                    <input ng-type="text" ng-model="query.news_url" value="{{query.news_url}}" />
                </td>
            </tr>
            <tr>
                <th>URL search</th>
                <td>
                    <input ng-type="text" ng-model="query.web_url" value="{{query.web_url}}" />
                </td>
            </tr>
              <tr>
                <th>Start Date (dd-mm-yyyy)</th>
                <td>
                    <input ng-type="text" ng-model="query.start_date" value="{{query.start_date}}" class="datepicker" />
                </td>
            </tr>
            <tr>
                <th>End Date (dd-mm-yyyy)</th>
                <td>
                    <input ng-type="text" ng-model="query.end_date" value="{{query.end_date}}" class="datepicker" />
                </td>
            </tr>
            <tr>
                <th>Show in Tab</th>
                <td>
                    <select ng-model="query.show_in_list">
                        <option value="all"  ng-selected="'' == query.show_in_list || 'all' == query.show_in_list">-----</option>
                        <option value="1" ng-selected="1 == query.show_in_list">Show</option>
                        <option value="0" ng-selected="0 == query.show_in_list">Hide</option>
                    </select>                    
                </td>
            </tr>
             <tr>
                <th>Magazine</th>
                <td>
                    <select ng-model="query.is_magazine">
                        <option value="all"  ng-selected="'' == query.is_magazine || 'all' == query.is_magazine">-----</option>
                        <option value="1" ng-selected="1 == query.is_magazine">Yes</option>
                        <option value="0" ng-selected="0 == query.is_magazine">No</option>
                    </select>                    
                </td>
            </tr>
             <tr>
                <th>Region</th>
                <td>
                    <select ng-model="query.region">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_region_txt_map" ng-selected="v == query.region">{{ k | uppercase }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>City</th>
                <td>
                    <select  ng-model="query.city_id">
                        <option value="all" ng-selected="'' == query.city_id || 'all' == query.city_id">-----</option>
                        <option value="0" ng-selected="0 == query.city_id">World</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == query.city_id">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>
                    <select ng-model="query.created_by">
                        <option value="">-----</option> 
                        <option value="{{ v.account_id }}" ng-repeat="v in operators" ng-selected="v.account_id == query.created_by">{{ v.name }}</option>  
                    </select>
                </td>
            </tr>
           <tr>
            	<th>Category</th>
                <td>
                    <select ng-model="query.category_id" ng-show="query.region != 'jp'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_category" ng-selected="v == query.category_id">{{ k }}</option>
                    </select>
                    <select ng-model="query.category_id" ng-show="query.region == 'jp'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_jp_category" ng-selected="v == query.category_id">{{ k }}</option>
                    </select>
                </td>
            </tr>
             <tr>
                <th>Classified</th>
                <td>
                    <select ng-model="query.classified_sub_category" ng-show="region != 'jp'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.sub_classified_category" ng-selected="v == query.classified_sub_category">{{ k | uppercase }}</option>
                    </select>    
                     <select ng-model="query.classified_sub_category" ng-show="region == 'jp'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.sub_classified_category_jp" ng-selected="v == query.classified_sub_category">{{ k | uppercase }}</option>
                    </select>                 
                </td>
            </tr>
            <tr>
            	<th>Publish Status</th>
                <td>
                    <select ng-model="query.publish_status">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_publish_status_map" ng-selected="v == query.publish_status">{{ k }}</option>
                    </select>
                </td>
            </tr>   
            <tr>
                <th>Event</th>
                <td>
                    <select ng-model="query.news_event">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == query.news_event">NO</option>
                        <option value="1" ng-selected="1 == query.news_event">Yes</option>
                    </select>
                </td>
            </tr>   
            <tr>
                <th>Promotion</th>
                <td>
                    <select ng-model="query.news_promotion">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == query.news_promotion">NO</option>
                        <option value="1" ng-selected="1 == query.news_promotion">Yes</option>
                    </select>
                </td>
            </tr> 
            <tr>
                <th>Top</th>
                <td>
                    <select ng-model="query.hot_news">
                        <option value="">-----</option>
                        <option value="0" ng-selected="0 == query.hot_news">NO</option>
                        <option value="1" ng-selected="1 == query.hot_news">Yes</option>
                    </select>
                </td>
            </tr>    
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <table class="data">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Image</th>
                <th>Title</th>                           
                <th>Region</th>
                <th>City</th> 
                <th>Category</th>   
                <th>Classified</th>                 
                <th>PublishStatus</th>
                <th>Created Date</th>
                <th>Updated Date</th> 
                <th>Created By</th>
                <th>Updated By</th>  
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in newsMultiple" ng-class-even="'even'">                
                <td>{{ r.id }}</td>
                <td>
                    <img src="{{ r.image_url }}" width="50" height="50"/>                   
                </td>
                <td><a target="_blank" href="{{r.news_url}}" style="display:block;max-width:200px;">{{ r.title }}</a></td>                          
                <td>{{r.region}}</td>               
                <td>
                    <span ng-repeat="(k,v) in config.newspick_city" ng-if="v == r.city_id">{{ k }}</span>
                    <span ng-if="(r.city_id == null || r.city_id == 0 || r.city_id == '')">World</span> 
                </td>
                <td>
                    <span ng-repeat="(k,v) in config.newspick_category" ng-if="v == r.category_id">{{ k }}</span>
                </td>              
                 <td>
                    <span ng-repeat="(k,v) in config.sub_classified_category" ng-if="v == r.classified_sub_category">{{ k }}</span>
                    <span ng-if="(r.classified_sub_category == null || r.classified_sub_category == 0 || r.classified_sub_category == '')">All</span> 
                </td>  
                 <td>
                    <span ng-repeat="(k,v) in config.offer_publish_status_map" ng-if="v == r.publish_status">{{ k }}</span>
                </td>              
                <td>{{ r.created_at | date:'fullDate' : 'UTC' }}</td>
                <td>{{ r.updated_at | date:'fullDate' : 'UTC' }}</td>
                <td>{{ r.created_by || "Null"}}</td>
                <td>{{ r.updated_by || "Null"}}</td>
                <td>
                    <a target="_blank" href="#/news_pick/{{r.region}}/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="13">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker({ timepicker: false, format: 'd-m-Y' });
    });
</script>
