<h1> News Pick Comment</h1>
<div id="news_pick_comment-controller">	 
    <table class="data">
        <thead>
            <tr>              
                <th>ID</th>
                <th>News ID</th>
                <th>User ID</th>
                <th>Comment</th>          
                <th>Created Date</th>
                <th>Updated Date</th>  
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in comments" ng-class-even="'even'">                
                <td>{{ r.id }}</td>    
                <td>{{ r.news_id }}</td>   
                <td>{{ r.user_id }}</td>             
                <td>{{ r.comment_text }}</td>  
                <td>{{ r.created_at | date:'fullDate'}}</td>
                <td>{{ r.updated_at | date:'fullDate'}}</td>
                <td>
                    <a href="#/news_pick_comment/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th>
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>              
        	</tr>
        </tfoot>
    </table>
</div>
