<h1 ng-if="comments.id"> News Pick Comment :: Edit :: {{ comments.id }}</h1>
<div id="news_pick_comment-controller">
    <table class="edit">
    	<tbody>   
            <tr>
                <th>Comment Text</th>
                <td>
                    <input type="text" ng-model="comments.comment_text" />                 
                </td>
            </tr>
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>