<div style="padding:10px;">
  <p style="text-align:center;">
  	こんにちは！<br/>
	あなたの認証コードです。<br/>
	こちらのコードでログインください！<br/>
  </p>
  <p style="text-align:center;font-size:xx-large;font-weight:bold;"><%= verify_code %></p>
  <p style="text-align:center;">
  	Thank you!<br/>
	ニューヨーク
  </p>
</div>