<h1> {{ newsPickTitle }} :: <a href="#/news_pick/{{region}}/new">{{ createText }}</a> </h1>
<div id="news_pick-controller">
	 <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="region != 'th'">
            	<th>City</th>
                <td>
                    <select ng-model="query.city_id" ng-show="region == 'en'">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_city" ng-selected="v == query.city_id">{{ k }}</option>                        
                    </select>
                    <select ng-model="query.city_id" ng-show="region == 'jp'">
                        <option value="">-----</option>                       
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_jpcity" ng-selected="v == query.city_id">{{ k }}</option>
                    </select>
                </td>
            </tr>
           <tr>
            	<th>Category</th>
                <td>
                    <select ng-model="query.category_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.newspick_category" ng-selected="v == query.category_id">{{ k }}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>Publish Status</th>
                <td>
                    <select ng-model="query.publish_status">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.offer_publish_status_map" ng-selected="v == query.publish_status">{{ k }}</option>
                    </select>
                </td>
            </tr>           
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <table class="data">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Image</th>
                <th>Title</th>                           
                <th>Region</th>
                <th ng-show="region != 'th'">City</th> 
                <th>Category</th>                
                <th>PublishStatus</th>
                <th>Created Date</th>
                <th>Updated Date</th>  
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in newsPick" ng-class-even="'even'">                
                <td>{{ r.id }}</td>
                <td>
                    <img ng-src="{{ r.image_url }}" width="50" height="50"/>                   
                </td>
                <td>{{ r.title }}</td>                          
                <td>{{r.region}}</td>               
                <td ng-show="region != 'th'">
                    <span ng-show="region == 'en'" ng-repeat="(k,v) in config.newspick_city" ng-if="v == r.city_id">{{ k }}</span>
                    <span ng-show="region == 'jp'" ng-repeat="(k,v) in config.newspick_jpcity" ng-if="v == r.city_id">{{ k }}</span>
                </td>
                <td>
                    <span ng-repeat="(k,v) in config.newspick_category" ng-if="v == r.category_id">{{ k }}</span>
                </td>               
                 <td>
                    <span ng-repeat="(k,v) in config.offer_publish_status_map" ng-if="v == r.publish_status">{{ k }}</span>
                </td>              
                <td>{{ r.created_at | date:'fullDate'}}</td>
                <td>{{ r.updated_at | date:'fullDate'}}</td>
                <td>
                    <a href="#/news_pick/{{region}}/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="10" ng-show="region != 'th'">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
                <th colspan="9" ng-show="region == 'th'">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
