<h1> PushNotifications :: New</h1>
<div id="push_notifications-controller">
    <table class="edit">
    	<tbody>
    		<tr>
    			<th>Segment</th>
                <td>
                    <select ng-model="notification.segment">
                       <option value="{{ k }}" ng-repeat="(k,v) in config.mail_segment_map" ng-selected="k == notification.segment">{{ config.mail_segment_label_map[k] }}</option>
                    </select>
                </td>
    		</tr>
    		<tr>
    			<th>Title</th>
                <td>
                    <input type="text" ng-model="notification.title" />
                </td>
    		</tr>
            <tr>
    			<th>Message</th>
                <td>
                    <textarea rows="10" cols="30" ng-model="notification.message"></textarea>
                </td>
    		</tr>
    		<tr>
                <th class="caution">
                    <p>Force</p>
                    <p>*DO NOT tick this option unless it's a critical message</p>
                </th>
                <td>
                    <input type="checkbox" ng-model="notification.force" value="1" />
                </td>
    		</tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="send()">Send</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
