// Place all the styles related to the Admin::Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    overflow-y: scroll;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

input, textarea {
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style:none;
}

table{
    border-collapse: collapse; 
    border-spacing:0;
}

caption, th{
    text-align: left;
}

a:focus {
    outline:none;
}

.clearfix:after {
    content: "."; 
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
    /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}

* {
    box-sizing: border-box;
}

a {
    color: #003D9C;
    text-decoration: none;
}
a:hover {
    color: #DE6500;
    text-decoration: underline;
}

/* ==================================================
 * container layout
 * ================================================ */

#console > header {
    background-color: #6F6F6F;
    color: #fff;
}
#console > header .title {
    float: left;
    margin: 10px;
}
#console > header .menu-container {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
#console > .content-container {
}
#console > .content-container.authenticated {
    background-color: #F5F5F5;
}
#console > .content-container > .menu-container {
    float: left;
    width: 200px;
    height: 100%;
    margin-right: -220px;
    padding: 10px;
    ul ul {
        margin-left: 20px;
        li {
            list-style-type: disc;
        }
    }
}
#console > .content-container > .content {
    width: 100%;
}
#console > .content-container.authenticated > .content > .inner {
    min-height: 500px;
    margin-left: 220px;
    padding: 10px;
    background-color: #fff;
}
#console > .content-container.authenticated > .content > .inner > h1 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}
#console > footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #D5D5D5;
    color: #666;
}

#console > .content-container.authenticated > .content > .inner table.data,
#console > .content-container.authenticated > .content > .inner table.searchform,
#console > .content-container.authenticated > .content > .inner table.uploadform,
#console > .content-container.authenticated > .content > .inner table.edit {
    width: 100%;
}
#console > .content-container.authenticated > .content > .inner table.data > thead > tr,
#console > .content-container.authenticated > .content > .inner table.edit > tbody > tr > th {
    background-color: #FF8700;
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.edit > tbody > tr > th, 
#console > .content-container.authenticated > .content > .inner table.searchform > tbody > tr > th, 
#console > .content-container.authenticated > .content > .inner table.uploadform > tbody > tr > th {
    width: 200px;
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.data > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.searchform > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.uploadform > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.edit > tbody > tr > th {
    font-weight: bold;
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.data > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.searchform > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.uploadform > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.edit > tbody > tr > th {
    border-bottom: 1px solid #6F6F6F;
    padding: 5px 5px; 
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.data > tbody > tr > td,
#console > .content-container.authenticated > .content > .inner table.searchform > tbody > tr > td,
#console > .content-container.authenticated > .content > .inner table.searchform > tbody > tr > th,
#console > .content-container.authenticated > .content > .inner table.uploadform > tbody > tr > td,
#console > .content-container.authenticated > .content > .inner table.uploadform > tbody > tr > th,
#console > .content-container.authenticated > .content > .inner table.edit > tbody > tr > td {
    border-bottom: 1px solid #D5D5D5;
    padding: 5px 5px;
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.data > tbody > tr.even {
    background-color: #D5D5D5;
}
#console > .content-container.authenticated > .content > .inner table.data > tbody > tr:hover {
    background-color: #ECF7FF;
}
#console > .content-container.authenticated > .content > .inner table.edit > tbody > tr > th.caution {
    background-color: #ff1a00;
}
#console > .content-container.authenticated > .content > .inner table.data > tfoot > tr > th {
    padding: 5px;
    text-align: center;
}
#console > .content-container.authenticated > .content > .inner table.data > tfoot > tr > th button {
    font-size: large;
}

#console > .content-container.authenticated > .content > .inner table.fix-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px; /* this can vary */
    thead {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    tbody {
        overflow-y: scroll;
        display: inline-block;
    }
    thead > tr, tbody > tr, tfoot > tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    thead, tfoot {
        flex-shrink: 0;
    }
    tfoot {
        display: inline-block;
        overflow-y: scroll;
    }
}
#console > .content-container.authenticated > .content > .inner table.data > tfoot.summary {
    background-color: lightgray;
    th {
        text-align: left;
        font-weight: bold;
    }
}

/* ==================================================
 * edit table 
 * ================================================ */

#console > .content-container.authenticated > .content > .inner table.edit input[type="text"], 
#console > .content-container.authenticated > .content > .inner table.edit input[type="password"], 
#console > .content-container.authenticated > .content > .inner table.edit textarea {
    width: 100%;
    padding: 5px;
}
#console > .content-container.authenticated > .content > .inner table.edit > tfoot > tr > th,
#console > .content-container.authenticated > .content > .inner table.edit > tfoot > tr > td {
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.edit > tfoot > tr > th {
    padding: 5px;
    text-align: center;
}
#console > .content-container.authenticated > .content > .inner table.edit .large-btn, 
#console > .content-container.authenticated > .content > .inner table.edit > tfoot > tr > th button {
    font-size: large;
}
#console > .content-container.authenticated > .content > .inner table.edit th p.description {
    color: #fff;
    font-style: italic;
}
#console > .content-container.authenticated > .content > .inner table.edit td p.description {
    color: #999;
    font-style: italic;
}
#console > .content-container.authenticated > .content > .inner table.edit img.thumbnail {
    margin: 10px;
}
/* ==================================================
 * edit advanced
 * ================================================ */
#console > .content-container.authenticated > .content > .inner table.edit.advanced { } 
#console > .content-container.authenticated > .content > .inner table.edit.advanced > thead > tr > th,
#console > .content-container.authenticated > .content > .inner table.edit.advanced > thead > tr > td {
    vertical-align: middle;
}
#console > .content-container.authenticated > .content > .inner table.edit.advanced > thead > tr > th > p {
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px 0px 5px 5px;
    border-left: 10px solid #0088cc
} 
#console > .content-container.authenticated > .content > .inner table.edit.advanced.deleted { } 
#console > .content-container.authenticated > .content > .inner table.edit.advanced.deleted > thead > tr > th > p {
    font-size: normal;
    font-weight: none;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px 0px 5px 5px;
    border-left: 10px solid #a1d3f9;
    color: #999;
} 
/* ==================================================
 * login
 * ================================================ */
#login-controller {
    width: 100%;
}

#login-controller .title {
    color: #126FBB;
    font-size: xx-large;
}

#login-controller > .container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    width: 400px;
}

#login-controller input,
#login-controller button {
    font-size: large;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
}

/* ==================================================
 * searchform table 
 * ================================================ */
#console > .content-container.authenticated > .content > .inner table.searchform {
    width: 100%;
    margin-bottom: 20px;
    input[type="text"], 
    input[type="password"], 
    textarea {
        width: 100%;
        padding: 5px;
    }
    input[type="text"].datepicker,
    input[type=radio] {
        width: auto;
    }
    >thead > tr {
        background-color: #ff4200;
    }
    >tfoot > tr > th, 
    >tfoot > tr > td {
        vertical-align: middle;
    }
    >tfoot > tr > th {
        padding: 5px;
        text-align: center;
    }
    >tfoot > tr > th button {
        font-size: large;
    }
    th p.description {
        color: #fff;
        font-style: italic;
    }
    td p.description {
        color: #999;
        font-style: italic;
    }
}

/* ==================================================
 * uploadform table 
 * ================================================ */
#console > .content-container.authenticated > .content > .inner table.uploadform {
    width: 100%;
    margin-bottom: 20px;
    input[type="text"], 
    input[type="password"], 
    textarea {
        width: 100%;
        padding: 5px;
    }
    input[type="text"].datepicker,
    input[type=radio] {
        width: auto;
    }
    >thead > tr {
        background-color: #006dcc;
    }
    >tfoot > tr > th, 
    >tfoot > tr > td {
        vertical-align: middle;
    }
    >tfoot > tr > th {
        padding: 5px;
        text-align: center;
    }
    >tfoot > tr > th button {
        font-size: large;
    }
    th p.description {
        color: #fff;
        font-style: italic;
    }
    td p.description {
        color: #999;
        font-style: italic;
    }
}
/* ==================================================
 * maintenance 
 * ================================================ */
body.maintenance {
    .content-container {
        background-color: #ffa399 !important;
    }
    header {
        -webkit-animation:blink 1.0s ease-in-out infinite alternate;
        -moz-animation:blink 1.0s ease-in-out infinite alternate;
        animation:blink 1.0s ease-in-out infinite alternate;
        background-color: #ff1a00 !important;
    }
}

@-webkit-keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}

.bulk-action-container {
    padding: 5px 0px;
    button {
        padding: 5px 10px;
    }
}

.st-sort-ascent:before {
    content: '\25B2';
    font-size: x-small;
}
.st-sort-descent:before {
    content: '\25BC';
    font-size: x-small;
}
