// Place all the styles related to the Admin::Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.widget-container {
    float: left;
    border: 3px dotted #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
    h2 {
        font-size: large;
        font-weight: bold;
        margin: 5px 0;
    };
    .widget {
        table.summary-data {
            width: 100%;
            th {
                text-align: right;
                font-weight: bold;
                width: 100px;
                padding: 5px;
            };
            td {
                text-align: right;
                padding: 5px;
            };
            tr.even {
                background-color: #D5D5D5;
            };
            tr:hover {
                background-color: #ECF7FF;
            };
        };
    };
}
