<h1> {{ newsPickTitle }} :: <a href="#/facebook_feed_page/new">{{ createText }}</a> : Result :  {{facebookFeedPage.length}} :: From Total : {{feed_count}} </h1>
<div id="news_pick-controller">
     <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <th>Region</th>
                <td>
                    <select ng-model="query.facebook_page_region">
                        <option value="">-----</option>
                        <option value="en" ng-selected="'en' == query.facebook_page_region">en</option>
                        <option value="jp" ng-selected="'jp' == query.facebook_page_region">jp</option>
                        <option value="th" ng-selected="'th' == query.facebook_page_region">th</option>
                    </select>
                </td>
            </tr>
             <tr>
                <th>City</th>
                <td>
                    <select ng-model="query.city_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.localpick_home_city_select" ng-selected="v == query.city_id">{{ k }}</option>
                    </select>
                </td>
            </tr>  
            <tr>
                <th>Type</th>
                <td>
                    <select ng-model="query.facebook_page_type">
                        <option value="">-----</option>
                        <option value="nightlife" ng-selected="'nightlife' == query.facebook_page_type">nightlife</option>
                        <option value="news" ng-selected="'news' == query.facebook_page_type">news</option>
                    </select>
                </td>
            </tr>           
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <table class="data">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Page</th>           
                <th>Region</th>
                <th>City</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in facebookFeedPage" ng-class-even="'even'">                
                <td>{{ r.id }}</td>
                <td>{{ r.facebook_page_id }}</td>     
                <td>{{ r.facebook_page_region }}</td>  
                <td><span ng-repeat="(k,v) in config.newspick_city" ng-if="v == r.city_id">{{ k }}</span></td>                        
                <td>{{ r.facebook_page_type}}</td>   
                <td>
                    <a href="#/facebook_feed_page/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
            </tr>
        </tfoot>
    </table>
</div>
