<h1 ng-if="facebookfeed.id"> {{feedText}} :: Edit :: {{ facebookfeed.id }}</h1>
<h1 ng-if="!facebookfeed.id"> {{feedText}}  :: New </h1>
<div id="facebook_page_feed_new-controller">
    <table class="edit">
    	<tbody>   
            <tr>
                <th>Page</th>
                <td>
                    <input type="text" ng-model="facebookfeed.facebook_page_id"/>
                </td>
            </tr> 
             <tr>
                <th>Type</th>
                <td>
                    <select ng-model="facebookfeed.facebook_page_type">
                        <option value="">-----</option>
                        <option value="news" ng-selected="'news' == facebookfeed.facebook_page_type">News</option>
                        <option value="nightlife" ng-selected="'nightlife' == facebookfeed.facebook_page_type">Nightlife</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <select ng-model="facebookfeed.city_id">
                        <option value="">-----</option>
                        <option value="{{ v }}" ng-repeat="(k,v) in config.localpick_home_city_select" ng-selected="v == facebookfeed.city_id">{{ k | uppercase }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Region</th>
                <td>
                    <select ng-model="facebookfeed.facebook_page_region" ng-if="!facebookfeed.id" multiple ng-multiple="true">
                        <option value="">-----</option>
                        <option value="en" ng-selected="'en' == facebookfeed.facebook_page_region">EN</option>
                        <option value="jp" ng-selected="'jp' == facebookfeed.facebook_page_region">JP</option>
                        <option value="th" ng-selected="'th' == facebookfeed.facebook_page_region">TH</option>
                    </select>
                    <select ng-model="facebookfeed.facebook_page_region" ng-if="facebookfeed.id">
                        <option value="">-----</option>
                        <option value="en" ng-selected="'en' == facebookfeed.facebook_page_region">EN</option>
                        <option value="jp" ng-selected="'jp' == facebookfeed.facebook_page_region">JP</option>
                        <option value="th" ng-selected="'th' == facebookfeed.facebook_page_region">TH</option>
                    </select>
                </td>
            </tr>    
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
