<div id="login-controller">
  <div class="container">
    <h1 class="title">{{ title }}</h1>
    <div class="input-item">
      <input type="text" name="account_id_or_email" ng-model="operator.account_id_or_email" placeholder="Account ID or Email" />
    </div>

    <div class="input-item">
      <input type="password" name="password" ng-model="operator.password" placeholder="Password" />
    </div>

    <div class="buttons">
      <button class="positive" ng-click="login()">Login</button>
    </div>
  </div>
</div>
