<div id="settings-controller">
    <ng-include src="'assets/web/includes/authenticated_header.html'"></ng-include>

    <div id="contents">
        <div class="settings">
            <div class="item list-item">
                <div class="label">ID</div>
                <div class="value">{{ user.account_id }}</div>
            </div>
            <div class="item list-item">
                <div class="label">NAME</div>
                <div class="value input-value">
                    <input type="text" class="form small-form" ng-model="user.name" />
                </div>
            </div>
            <div class="item list-item">
                <div class="label">DOB</div>
                <div class="value input-value">
                    <select ng-model="user.birthdate_month">
                        <option value="{{ $index+1 }}" ng-repeat="n in [].constructor(12) track by $index">{{ $index+1 }}</option>
                    </select>&nbsp;/&nbsp; 
                    <select ng-model="user.birthdate_day">
                        <option value="{{ $index+1 }}" ng-repeat="n in [].constructor(31) track by $index">{{ $index+1 }}</option>
                    </select>&nbsp;/&nbsp;
                    <select ng-model="user.birthdate_year">
                        <option value="{{ birthdate_year_start - $index }}" ng-repeat="n in [].constructor(birthdate_year_range) track by $index">{{ birthdate_year_start - $index }}</option>
                    </select>
                </div>
            </div>
            <div class="item list-item">
                <div class="label">GENDER</div>
                <div class="value">
                    <label for="gender_male">Male <input type="radio" id="gender_male" ng-value="2" ng-model="user.gender" /></label>&nbsp;
                    <label for="gender_female">Female <input type="radio" id="gender_female" ng-value="3" ng-model="user.gender" /></label>&nbsp;
                </div>
            </div>
            <div class="item list-item">
                <div class="label">EMAIL</div>
                <div class="value">
                    {{ user.email }}
                </div>
            </div>
            <div class="item list-item">
                <div class="label">RECEIVE UPDATES (EMAIL)</div>
                <div class="value">
                    <label for="notification_on">ON </label><input type="radio" name="notifiaction" id="notification_on" ng-model="user.notification"  ng-value="true" />
                    <label for="notification_off">OFF </label><input type="radio" name="notifiaction" id="notification_off" ng-model="user.notification" ng-value="false" />
                </div>
            </div>
            <div class="item label-item list-item clearfix" ng-click="edit_password = true" ng-show="!edit_password">
                <div class="left-wrapper">
                    <div class="label">EDIT PASSWORD</div>
                </div>
                <div class="right-wrapper">
                    <div class="arrow-icon"></div>
                </div>
            </div>
            <div class="item list-item" ng-show="edit_password && user.saved_password">
                <div class="label">CURRENT PASSWORD</div>
                <div class="value input-value">
                    <input type="password" class="form small-form" ng-model="user.current_password" />
                </div>
            </div>
            <div class="item list-item" ng-show="edit_password">
                <div class="label">NEW PASSWORD</div>
                <div class="value input-value">
                    <input type="password" class="form small-form" ng-model="user.new_password" />
                </div>
            </div>
            <div class="item list-item" ng-show="edit_password">
                <div class="label">PASSWORD CONFIRM</div>
                <div class="value input-value">
                    <input type="password" class="form small-form" ng-model="user.password_confirm" />
                </div>
            </div>
            <div class="item button-item list-item">
                <div class="value">
                    <button ng-click="doSave()">Save</button>
                </div>
            </div>
            <div class="item label-item list-item clearfix" ng-click="showTermsDialog()">
                <div class="left-wrapper">
                    <div class="label">TERMS & CONDITIONS</div>
                </div>
                <div class="right-wrapper">
                    <div class="arrow-icon"></div>
                </div>
            </div>
            <div class="item label-item list-item clearfix" ng-click="doLogout()">
                <div class="left-wrapper">
                    <div class="label">LOGOUT</div>
                </div>
                <div class="right-wrapper">
                    <div class="arrow-icon"></div>
                </div>
            </div>
            <div class="item label-item list-item clearfix" ng-click="showDeleteAccountDialog()">
                <div class="left-wrapper">
                    <div class="label">DELETE ACCOUNT</div>
                </div>
                <div class="right-wrapper">
                    <div class="arrow-icon"></div>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'assets/web/includes/authenticated_footer.html'"></ng-include>
</div>

<ng-include src="'assets/web/includes/delete_account_dialog.html'"></ng-include>
<ng-include src="'assets/web/includes/terms_dialog.html'"></ng-include>
