<div id="tickets-controller">
    <ng-include src="'assets/web/includes/authenticated_header.html'"></ng-include>

    <div id="contents">
        <div class="tickets">
            <div class="notfound-icon" ng-show="tickets !== null && tickets.length == 0"></div>
            <div class="ticket list-item clearfix" ng-repeat="t in tickets" ng-class="{expired:t.expired}">
                <div class="icon"></div>
                <div class="number">{{ t.number_str }}</div>
                <div class="expired-icon" ng-show="t.expired"></div>
            </div>
        </div>
    </div>

    <ng-include src="'assets/web/includes/authenticated_footer.html'"></ng-include>
</div>
