<h1> Campaigns :: <a href="#/campaigns/new">New</a> </h1>


<div id="offers-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>Keyword</th>
                <td>
                    <input type="text" ng-model="query.keyword" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>


    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>StartAt(GMT)</th>
                <th>EndAt(GMT)</th>
                <th>Regulary Period</th>
                <th>OrderNum(ASC)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in campaigns" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.start_at }}</td>
                <td>{{ r.end_at }}</td>
                <td>{{ r.period }}</td>
                <td>{{ r.order_num }}</td>
                <td>
                    <a href="#/campaigns/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="7">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

