<h1 ng-if="campaign.id"> Campaigns :: Edit :: {{ campaign.id }}</h1>
<h1 ng-if="!campaign.id"> Campaigns :: New </h1>
<div id="campaigns-controller">
    <table class="edit">
    	<tbody>
            <tr>
    			<th>Name</th>
                <td>
                    <input type="text" ng-model="campaign.name" />
                </td>
    		</tr>
            <tr>
    			<th>Name</th>
                <td>
                    <p>
                        <input type="text" ng-model="campaign.cover_image_url" placeholder="http://example.com/icon.png" />
                    </p>
                    <p ng-show="campaign.cover_image_url">
                        <img ng-src="{{campaign.cover_image_url}}" class="thumbnail"/>
                    </p>
                </td>
    		</tr>

            <tr>
    			<th>Point Cost</th>
                <td>
                    <input type="text" ng-model="campaign.point_cost" />
                </td>
    		</tr>
            <tr>
    			<th>StartAt(GMT)</th>
                <td>
                    <input type="text" ng-model="campaign.start_at" class="datepicker" />
                </td>
            </tr>
    		<tr>
    			<th>EndAt(GMT)</th>
                <td>
                    <input type="text" ng-model="campaign.end_at" class="datepicker" />
                </td>
            </tr>
            <tr>
            	<th>OrderNum(ASC)</th>
                <td>
                    <input type="text" ng-model="campaign.order_num" />
                </td>
            </tr>
            <tr>
    			<th>Regulary</th>
                <td>
                    <input type="checkbox" value="1" ng-model="campaign.regulary" ng-checked="campaign.regulary" />
                </td>
    		</tr>
            <tr>
    			<th>Period</th>
                <td>
                    <input type="text" ng-model="campaign.period" />
                    <p>Example: 1w</p>
                </td>
    		</tr>
            <tr>
    			<th>Clone Campaign ID</th>
                <td>
                    <input type="text" ng-model="campaign.clone_campaign_id" />
                </td>
    		</tr>
        </tbody>
    </table>

    <table class="edit">
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker();
    });
</script>
