<h1> Fortune Telling Users</h1>

<div id="fortune_telling_users-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>User ID (Account ID)</th>
                <td>
                    <input type="text" ng-model="query.account_id" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>AccountID</th>
                <th>Name</th>
                <th>CreatedAt(GMT)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in fortune_telling_users" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td>{{ r.user.account_id }}</td>
                <td>{{ r.user.name }}</td>
                <td>{{ r.created_at }}</td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="4">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

