<h1>System Information</h1>
<div id="system_information-controller">
    <table class="edit">
    	<tbody>
    		<tr>
    			<th>Maintenance</th>
                <td>
                    <input type="checkbox" value="1" ng-checked="system_information.maintenance" ng-model="system_information.maintenance" />
                </td>
    		</tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                   <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
