<h1>LINE Sticker Requests</h1>

<div id="line_sticker_requests-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>User ID (Account ID)</th>
                <td>
                    <input type="text" ng-model="query.account_id" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>AccountID</th>
                <th>Name</th>
                <th>LINE ID</th>
                <th>Sticker Name</th>
                <th>Status</th>
                <th>CreatedAt(GMT)</th>
                <th>SentAt(GMT)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in line_sticker_requests" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td>{{ r.user.account_id }}</td>
                <td>{{ r.user.name }}</td>
                <td>{{ r.line_id }}</td>
                <td>{{ r.sticker_name }}</td>
                <td>
                    <span ng-repeat="(k,v) in config.line_sticker_status_map" ng-if="v == r.status">{{ k }}</span>
                </td>
                <td>{{ r.sent_at }}</td>
                <td>{{ r.created_at }}</td>
                <td>
                    <a href="#/line_sticker_requests/edit?id={{ r.id }}">Edit</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="9">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

