<h1 ng-if="line_sticker_request.id"> Line Sticker Requests :: Edit :: {{ line_sticker_request.id }}</h1>
<div id="operators-controller">
    <table class="edit">
        <tbody>
        	<tr>
        		<th>User</th>
                <td>
                    {{ line_sticker_request.user.name }} ({{ line_sticker_request.user.account_id }})
                </td>
            </tr>
            <tr>
            	<th>LINE ID</th>
                <td>
                    <input type="text" ng-model="line_sticker_request.line_id" />
                </td>
            </tr>
            <tr>
            	<th>Sticker Name</th>
                <td>
                    <input type="text" ng-model="line_sticker_request.sticker_name" />
                </td>
            </tr>
            <tr>
            	<th>Coin</th>
                <td>
                    <input type="text" ng-model="line_sticker_request.coin" />
                </td>
            </tr>
            <tr>
            	<th>Status</th>
                <td>
                    <select ng-model="line_sticker_request.status">
                        <option value="{{v}}" ng-repeat="(k,v) in config.line_sticker_status_map">{{k}}</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<th>SentAt(GMT)</th>
                <td>{{ line_sticker_request.sent_at }}</td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div> 
