<h1> Operators :: <a href="#/operators/new">New</a> </h1>

<div id="operators-controller">
    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>AccountID</th>
                <th>Name</th>
                <th>Eamil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in operators" ng-class-even="'even'">
                <td>{{ o.id  }}</td>
                <td>{{ o.account_id }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.email }}</td>
                <td>
                    <a href="#/operators/edit?id={{ o.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(o.id)">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="8">
                    <button ng-click="more()" ng-show="query.since_id">More</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

