<h1 ng-if="operator.id"> Operators :: Edit :: {{ operator.id }}</h1>
<h1 ng-if="!operator.id"> Operators :: New </h1>
<div id="operators-controller">
    <table class="edit">
        <tbody>
        	<tr>
        		<th>AccountID</th>
                <td>
                    <input type="text" ng-model="operator.account_id" />
                </td>
        	</tr>
        	<tr>
        		<th>Name</th>
                <td>
                    <input type="text" ng-model="operator.name" />
                </td>
        	</tr>
        	<tr>
        		<th>Email</th>
                <td>
                    <input type="text" ng-model="operator.email" />
                </td>
        	</tr>
        	<tr>
        		<th>Password</th>
                <td>
                    <input type="password" ng-model="operator.password_tmp" />
                </td>
        	</tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                    <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div> 
