<div id="users-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <div class="user-register-form">
        <div class="social-buttons">
            <div class="social-button facebook">
                <a href="/users/auth/facebook"><img src="/assets/web/login_fb_button.png" alt="Facebook" /></a>
            </div>
            <div class="social-button google">
                <a href="/users/auth/google_oauth2"><img src="/assets/web/login_google_button.png" alt="Google+" /></a>
            </div>
        </div>
    </div>

    <div class="separator-wrapper">
        <p>OR</p>
    </div>

    <div class="user-register-form">
        <div>
            <input type="text" class="form" ng-model="user.email" placeholder="EMAIL" />
        </div>
        <div>
            <input type="password" class="form" ng-model="user.password" placeholder="PASSWORD" />
        </div>
        <div class="submit-button">
            <button class="large-button" ng-click="doRegister()">GET START</button>
        </div>
        <div class="footer-description">
            <p>
            <a href="javascript:void(0)" ng-click="showTermsDialog()">
                Creating an account means you're okay with<br/>
                Viral Giveaway's Terms of Service and Privacy Policy
            </a>
            </p>
        </div>
    </div>

    <ng-include src="'assets/web/includes/terms_dialog.html'"></ng-include>
    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>
