<div id="sessions-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <div class="recover-password-form-container">
        <div class="recover-password-form">
            <div class="content" ng-show="sent === false">
                <p class="caption">Enter your Email</p>
                <p class="mail-input"><input type="text" class="form" ng-model="user.email" placeholder="EMAIL" /></p>
                <p><button ng-click="doRecover()" class="large-button">Recover Password</button></p>
            </div>
            <div class="content complete" ng-show="sent === true">
                <div class="mail-icon"></div>
                <p class="attention">Email has been sent.</p>
                <p class="back-link">
                	<a href="/#/login">Login</a>
                </p>
            </div>
        </div>
    </div>
    
    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>
