<div id="users-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <div class="verify-container">
        <div class="complete" ng-show="verified === true">
            <p class="title">Congratulations!</p>
            <p><img src="/assets/web/account_created_icon.png" class="icon" /></p>
            <p class="description">
                Your Viral Giveaway<br/>
                was successfully created!
            </p>
            <p class="note">
                Please keep your login details safely and<br/>
                please do not provide your login details to anybody
            </p>
            <p class="link"><a href="/#/login"><button class="large-button">Login</button></a></p>
        </div>
        <div class="failed" ng-show="verified === false">
            <p class="title">Oops</p>
            <p><img src="/assets/web/account_created_icon_fail.png" class="icon" /></p>
            <p class="description">
                There was an error creating your account.<br/>
                Please confirm email and verify again.
            </p>
            <p class="link"><a href="/#/">Home</a></p>
        </div>
    </div>

    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>
