<h1> Devices </h1>

<div id="devices-controller">
    <table class="searchform">
        <thead>
            <tr>
                <th colspan="2">Search</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<th>UserID (AccountID)</th>
                <td>
                    <input type="text" ng-model="query.account_id" />
                </td>
            </tr>
            <tr>
            	<th>IMSI</th>
                <td>
                    <input type="text" ng-model="query.imsi" />
                </td>
            </tr>
            <tr>
            	<th>IMEI</th>
                <td>
                    <input type="text" ng-model="query.imei" />
                </td>
            </tr>
             <tr>
            	<th>Android ID</th>
                <td>
                    <input type="text" ng-model="query.android_id" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <button ng-click="search(true)">Search</button>
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>User (AccountID)</th>
                <th>CreatedAt(GMT)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in devices" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td>{{ r.user.name }} ({{ r.user.account_id }})</td>
                <td>{{ r.created_at }}</td>
                <td>
                    <a href="#/devices/edit?id={{ r.id }}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

