<h1 ng-if="device.id"> Devices :: Edit :: {{ device.id }}</h1>
<div id="devices-controller">
    <table class="edit">
    	<tbody>
    		<tr>
    			<th>User AccountID</th>
                <td>
                    <input type="text" ng-model="device.account_id" />
                </td>
            </tr>
    		<tr>
    			<th>Hash Key</th>
                <td>{{ device.hash_key }}</td>
            </tr>

            <tr>
            	<th>IMSI</th>
                <td>
                    <input type="text" ng-model="device.imsi" />
                </td>
            </tr>
            <tr>
            	<th>IMEI</th>
                <td>
                    <input type="text" ng-model="device.imei" />
                </td>
            </tr>
            <tr>
            	<th>Android ID</th>
                <td>
                    <input type="text" ng-model="device.android_id" />
                </td>
            </tr>
            <tr>
            	<th>Device</th>
                <td>
                    <input type="text" ng-model="device.device" />
                </td>
            </tr>
            <tr>
            	<th>Model</th>
                <td>
                    <input type="text" ng-model="device.model" />
                </td>
            </tr>
            <tr>
            	<th>Product</th>
                <td>
                    <input type="text" ng-model="device.product" />
                </td>
            </tr>
            <tr>
            	<th>Manufacturer</th>
                <td>
                    <input type="text" ng-model="device.manufacturer" />
                </td>
            </tr>
            <tr>
            	<th>Display</th>
                <td>
                    <input type="text" ng-model="device.display" />
                </td>
            </tr>
            <tr>
            	<th>Brand</th>
                <td>
                    <input type="text" ng-model="device.brand" />
                </td>
            </tr>
            <tr>
            	<th>OS Version</th>
                <td>
                    <input type="text" ng-model="device.os_version" />
                </td>
            </tr>
            <tr>
            	<th>UpdatedAt(GMT)</th>
                <td>{{ device.updated_at }}</td>
            </tr>
            <tr>
            	<th>CreatedAt(GMT)</th>
                <td>{{ device.created_at }}</td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                   <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>
