<div id="sessions-controller">
    <ng-include src="'assets/web/includes/header.html'"></ng-include>

    <div class="user-register-form">
        <div class="social-buttons">
            <div class="social-button facebook">
                <a href="/users/auth/facebook"><img src="/assets/web/login_fb_button.png" alt="Facebook" /></a>
            </div>
            <div class="social-button google">
                <a href="/users/auth/google_oauth2"><img src="/assets/web/login_google_button.png" alt="Google+" /></a>
            </div>
        </div>
    </div>

    <div class="separator-wrapper">
        <p>OR</p>
    </div>

    <div class="user-register-form">
        <div>
            <input type="text" class="form" ng-model="user.email" placeholder="EMAIL" />
        </div>
        <div>
            <input type="password" class="form" ng-model="user.password" placeholder="PASSWORD" />
        </div>
        <div class="submit-button">
            <button class="large-button" ng-click="doLogin()">Login</button>
        </div>
        <div class="footer-description">
            <p><a href="/#/users/password_reset">forgot your password ?</a></p>
        </div>
    </div>
    
    <ng-include src="'assets/web/includes/footer.html'"></ng-include>
</div>
