<!DOCTYPE html>
<html ng-app="Vg">
<head>
  <title>{{ config.title }} :: Admin</title>
  <meta charset="utf-8">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body id="console" ng-controller="AdminController" ng-class="{maintenance: config.system_information.maintenance}">

  <header class="clearfix">
    <p class="title">{{ config.title }} :: Admin<span ng-if="config.system_information.maintenance"> :: <span class="attention">Maintenance</span></p>
    <div class="menu-container" ng-show="isAuthenticated()">
      {{ getSessionUser().name }} / <a href="javascript:void(0)" ng-click="logout()">logout</a>
    </div>
  </header>
  <div class="content-container clearfix" ng-class="{authenticated: isAuthenticated()}">
    <div class="menu-container" ng-show="isAuthenticated()">
      <ul>
      	<li><a href="#/dashboard">Dashboard</a></li>
      	<!--
        <li><a href="#/campaigns">Campaigns</a></li>
      	<li><a href="#/offers">Offers</a></li>
      	<li><a href="#/information">Information</a></li>
      	<li><a href="#/tickets">Tickets</a></li>
      	<li><a href="#/messages">Messages</a></li>
        <li><a href="#/dream_photos">Dream Photos</a></li>
        <li>Fortune Tellings
          <ul>
            <li><a href="#/fortune_telling_users">Users</a></li>
            <li><a href="#/fortune_telling_results">Results</a></li>
          </ul>
        </li>
        <li><a href="#/line_sticker_requests">LINE Stickers</a></li>
      -->
      	<li><a href="#/users">Users</a></li>
      	
        <li>News Pick
          <ul>
            <li><a href="#/news_pick/th?city_id=all">Thai</a></li>
            <li><a href="#/news_pick/jp?city_id=all">Japan</a></li>
            <li><a href="#/news_pick/en?city_id=all">English</a></li>
            <li><a href="#/news_multiple?city_id=all">Multiple City</a></li>
          </ul>
        </li>
         <!--<li><a href="#/news_picks_source">News Sources</a></li>-->
         <li><a href="#/news_tag?city_id=all&category_id=all">News Tags</a></li>
         <li><a href="#/news_pick_comment">News Pick Comment</a></li>
         <li><a href="#/facebook_feed_page">Facebook Feed</a></li>
         <li><hr/></li>
         <li><a href="#/news_pick_push_notification">News Pick Push Noti</a></li>  
         <li><a href="#/local_picks_push_notification">Local Pick Push Noti</a></li>  
        <li><hr/></li>
        <li><a href="#/operators">Operators</a></li>
      	<!--<li><a href="#/push_notifications/new">Mail</a></li>
      	<li><a href="#/system_information">System Information</a></li>
      	<li><a href="#/logs">Logs</a></li>-->
      </ul>
    </div>
    <div class="content">
      <div class="inner" ng-view>
      </div>
    </div>
  </div>
  <footer>
    <p>&copy;2015. Mylon. All rights Reserved</p>
  </footer>

</body>
</html>
