<div style="background-color:#dfdfdf;padding:0;margin:0 auto;width:100%;box-sizing:border-box;">
  <table border="0" cellspacing="0" cellpadding="0" style="font-family:Helvetica,Arial,sans-serif;border-collapse:collapse;width:100%!important;font-family:Helvetica,Arial,sans-serif;margin:0;padding:0;box-sizing:border-box;" width="100%" bgcolor="#DFDFDF">
    <tbody>
    	<tr>
        <td align="center">
          <table border="0" cellspacing="0" cellpadding="0" style="font-family:Helvetica,Arial,sans-serif;min-width:290px" width="600">
            <thead>
            	<tr>
                <td style="background-color:#125FAD;color:white;padding:30px 10px;font-size:x-large;box-sizing:border-box;">
                  VIRAL GIVEAWAY 
                </td>
            	</tr>
            </thead>

            <tbody>
            	<tr>
                <td style="background-color:white;color:#5A5B5E;box-sizing:border-box;">
                  <%= yield %>

                  <p style="padding:0 10px;text-align:center;">- Happy Winning with VIRAL GIVEAWAY -</p>
                </td>
            	</tr>
            </tbody>

            <tfoot>
              <tr>
                <td style="background-color:#464648;color:white;padding:10px;text-align:center;box-sizing:border-box;vertical-align:middle;">
                  <div>
                    <a href="https://www.facebook.com/pages/Viral-Giveaway/823735791015041"><img src="https://s3-ap-southeast-1.amazonaws.com/static.viral-giveaway.com/assets/web/email_fb_icon.png" style="border:none;line-height:0;margin:0 10px;" width="40" height="40" /></a>
                    <a href="https://twitter.com/viral_giveaway"><img src="https://s3-ap-southeast-1.amazonaws.com/static.viral-giveaway.com/assets/web/email_twitter_icon.png" style="border:none;line-height:0;margin:0 10px;" width="40" height="40"/></a>
                    <a href="mailto:info@viral-giveaway.com"><img src="https://s3-ap-southeast-1.amazonaws.com/static.viral-giveaway.com/assets/web/email_mail_icon.png" style="border:none;line-height:0;margin:0 10px;" width="40" height="40"/></a>
                  </div>
                  <div>
                    <p style="font-size:small;color:white;">If you have questions,<br/>
                    We are here to help<br/>
                    Please contact us via SNS or Email.</p>
                    <p style="font-size:small;color:#2289BD;">&copy;2015. <a href="https://viral-giveaway.com" style="color:#2289BD;">viral-giveaway.com</a>. All rights Reserved<br/>
                    <a href="mailto:info@viral-giveaway.com" style="color:#2289BD;">info@viral-giveaway.com</a></p>
                  </div>
                </td>
            	</tr>
            </tfoot>
          </table>
        </td>
    	</tr>
    </tbody>
  </table>
</div>

