<!DOCTYPE html>
<html ng-app="Vg" lang="en">
<head>
  <title>VIRAL GIVEAWAY</title>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" href="/assets/web/vg_app_icon_128.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/web/vg_app_icon_128.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/web/vg_app_icon_128.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/web/vg_app_icon_256.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta property="og:title" content="VIRAL GIVEAWAY">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="VIRAL GIVEAWAY">
  <meta property="og:description" content="DON'T YOU WANT IT? Simple tasks to earn points and win Prizes! Start today and win iPhone6 16GB silver!">
  <meta property="og:url" content="https://viral-giveaway.com/">
  <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/static.viral-giveaway.com/assets/web/site_banner1.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="940">
  <meta property="og:image:height" content="492">
  <meta name="twitter:site" content="@viral_giveaway">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@viral_giveaway">
  <meta name="twitter:description" content="DON'T YOU WANT IT? Simple tasks to earn points and win Prizes! Start today and win iPhone6 16GB silver!">
  <meta name="twitter:image:src" content="https://s3-ap-southeast-1.amazonaws.com/static.viral-giveaway.com/assets/web/site_banner1.png">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'web', media: 'all' %>  
  <%= javascript_include_tag 'web' %>
  <%= csrf_meta_tags %>

  <% if Rails.env.production? then %>
  <script ng-show="">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64056741-1', 'auto');
  </script>
  <% end %>
</head>
<body id="console" ng-controller="WebController" ng-class="{maintenance: config.system_information.maintenance, 'modal-open': isDialogOpen()}">

  <script>
    window.vg = {
     errors: <%= raw flash[:errors].to_json %>,
    };
  </script>

  <div id="fb-root"></div>

  <ng-include src="'assets/web/includes/loading.html'"></ng-include>
  <ng-include src="'assets/web/includes/message_dialog.html'"></ng-include>
  <ng-include src="'assets/web/includes/winner_dialog.html'"></ng-include>

  <div id="view-wrapper">
    <div id="view" ng-view />
  </div>
</body>
</html>
