<h1> Information :: <a href="#/information/new">New</a> </h1>

<div id="information-controller">
    <table class="data">
        <thead>
            <tr>
                <th>ID</th>
                <th>APP</th>
                <th>Title</th>
                <th>PublishedAt(GMT)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in informations" ng-class-even="'even'">
                <td>{{ r.id }}</td>
                <td>{{ config.app_map[r.app_id] }}</td>
                <td>{{ r.title }}</td>
                <td>{{ r.published_at }}</td>
                <td>
                    <a href="#/information/edit?id={{ r.id }}">Edit</a> / 
                    <a href="javascript:void(0)" ng-click="delete(r.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

