<h1 ng-if="information.id"> Information :: Edit :: {{ information.id }}</h1>
<h1 ng-if="!information.id"> Information :: New </h1>
<div id="information-controller">
    <table class="edit">
    	<tbody>
    		<tr>
    			<th>APP</th>
                <td>
                    <select ng-model="information.app_id">
                        <option value="{{k}}" ng-repeat="(k,v) in config.app_map">{{v}}</option>
                    </select>
                </td>
    		</tr>
            <tr>
    			<th>Title</th>
                <td>
                    <input type="text" ng-model="information.title" />
                </td>
    		</tr>
    		<tr>
    			<th>Content</th>
                <td>
                    <textarea rows="10" cols="30" ng-model="information.content"></textarea>
                </td>
            </tr>
            <tr>
            	<th>Image</th>
                <td>
                    <p>
                        <input type="text" ng-model="information.image_url" />
                    </p>
                    <p ng-show="information.image_url">
                        <img src="{{information.image_url}}" class="thumbnail" />
                    </p>    
                </td>
            </tr>
            <tr>
            	<th>Video (Youtube ID)</th>
                <td>
                    <input type="text" ng-model="information.video_url" />
                </td>
            </tr>
    		<tr>
    			<th>PublishedAt(GMT)</th>
                <td>
                    <input type="text" ng-model="information.published_at" class="datepicker" data-format="yyyy-MM-dd hh:mm:ss" />
                </td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
                <th colspan="2">
                   <button ng-click="save()">Save</button> 
                </th>
        	</tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker();
    });
</script>
